# Copyright (c) 2020 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "Intel CAVS SoC Selection"
	depends on SOC_SERIES_INTEL_ADSP_CAVS

config SOC_INTEL_CAVS_V15
	bool "Intel Apollo Lake"

config SOC_INTEL_CAVS_V18
	bool "Intel Cannon Lake"
	select XTENSA_WAITI_BUG

config SOC_INTEL_CAVS_V20
	bool "Intel Ice Lake"
	select XTENSA_WAITI_BUG

config SOC_INTEL_CAVS_V25
	bool "Intel Tiger Lake"
	select XTENSA_WAITI_BUG
	select SCHED_IPI_SUPPORTED

endchoice
