# Copyright 2026 Hong Nguyen
# SPDX-License-Identifier: Apache-2.0

config GNSS_GLOBALTOP_PA6H
	bool "GlobalTop PA6H GNSS device"
	default y
	depends on GNSS
	depends on DT_HAS_GLOBALTOP_PA6H_ENABLED
	depends on GNSS_REFERENCE_FRAME_WGS84
	select MODEM_MODULES
	select MODEM_BACKEND_UART
	select MODEM_CHAT
	select GNSS_PARSE
	select GNSS_NMEA0183
	select GNSS_NMEA0183_MATCH
	help
	  Enable GlobalTop PA6H GNSS driver.

if GNSS_GLOBALTOP_PA6H

if GNSS_SATELLITES

config GNSS_GLOBALTOP_PA6H_SATELLITES_COUNT
	int "Maximum satellite count"
	depends on GNSS_SATELLITES
	default 22
	help
	  Maximum number of satellites that can be decoded from the
	  GNSS device. This does not affect the number of satellites
	  that the device is actually tracking, only how many of them
	  can be reported in the satellites callback.

endif # GNSS_SATELLITES

endif # GNSS_GLOBALTOP_PA6H
