# Copyright (c) 2024 Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

# Microchip MEC1753QLJ MCU using MEC5 HAL
# Q = 480KB total SRAM
# LJ = 176 pin package

if SOC_MEC1753_QLJ

config GPIO
	default y

config PINCTRL
	default y

endif # SOC_MEC1753_QLJ
