/*
 * Copyright (c) 2024 Renesas Electronics Corporation
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <renesas/ra/ra4/r7fa4m2ad3cfp.dtsi>
#include <dt-bindings/gpio/gpio.h>
#include "ek_ra4m2-pinctrl.dtsi"

/ {
	model = "Renesas EK-RA4M2";
	compatible = "renesas,ra4m2", "renesas,ra";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
	};

	leds {
		compatible = "gpio-leds";
		led1: led1 {
			gpios = <&ioport4 15 GPIO_ACTIVE_HIGH>;
			label = "LED1";
		};
		led2: led2 {
			gpios = <&ioport4 4 GPIO_ACTIVE_HIGH>;
			label = "LED2";
		};
		led3: led3 {
			gpios = <&ioport4 5 GPIO_ACTIVE_HIGH>;
			label = "LED3";
		};
	};

	aliases {
		led0 = &led1;
	};
};

&xtal {
	clock-frequency = <DT_FREQ_M(24)>;
	mosel = <0>;
	#clock-cells = <0>;
	status = "okay";
};

&subclk {
	status = "okay";
};

&pll {
	clocks = <&xtal>;
	div = <3>;
	mul = <25 0>;
	status = "okay";
};

&sci0 {
	pinctrl-0 = <&sci0_default>;
	pinctrl-names = "default";
	status = "okay";
	uart0: uart {
		current-speed = <115200>;
		status = "okay";
	};
};

&ioport4 {
	status = "okay";
};

&spi0 {
	pinctrl-0 = <&spi0_default>;
	pinctrl-names = "default";
	status = "okay";
};
