# Copyright (c) 2026 Realtek Semiconductor, Inc.
# SPDX-License-Identifier: Apache-2.0

config GPIO_RTS5817
	bool "RTS5817 gpio driver"
	depends on DT_HAS_REALTEK_RTS5817_GPIO_ENABLED
	default y
	help
	  Enable driver for RTS5817 gpio.
