# Gecko GPIO configuration options

# Copyright (c) 2017 Christian Taedcke
# SPDX-License-Identifier: Apache-2.0

menuconfig GPIO_GECKO
	bool "Gecko GPIO driver"
	depends on HAS_SILABS_GECKO
	select HAS_DTS_GPIO
	select SOC_GECKO_GPIO
	help
	  Enable the Gecko gpio driver.

config GPIO_GECKO_COMMON_INIT_PRIORITY
	int "Common initialization priority"
	depends on GPIO_GECKO
	default 39
