# Copyright 2021 The Chromium OS Authors
#
# SPDX-License-Identifier: Apache-2.0

config INA23X
	bool "INA23X Current and Power Monitor"
	depends on I2C
	help
	  Enable driver for INA23X Current and Power Monitor.

if INA23X

choice
	prompt "VARIANT"
	default INA23X_VARIANT_230

config INA23X_VARIANT_230
	bool "INA230"

config INA23X_VARIANT_237
	bool "INA237"

endchoice

config INA23X_TRIGGER
	bool "Trigger mode"
	depends on !INA23X_VARIANT_237
	help
	  Set to enable trigger mode using gpio interrupt, where
	  interrupts are configured to line ALERT PIN.

endif # INA23X
