# Copyright (c) 2021 Linaro Limited
# SPDX-License-Identifier: Apache-2.0

source "Kconfig.zephyr"

# Modem Kconfig depends on SERIAL_SUPPORT_INTERRUPT so
# fake out Kconfig for testing purposes.

config TEST_UART
	bool "Test UART"
	select SERIAL_HAS_DRIVER
	select SERIAL_SUPPORT_INTERRUPT
