# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config NATIVE_USE_NSI_ERRNO
	bool
	help
	  Build the native simulator nsi_errno component with the Zephyr embedded code.
	  This component allows translating errno values from/to the embedded libC to/from the host libC.

config NATIVE_USE_NSI_FCNTL
	bool
	help
	  Build the native simulator nsi_fcntl component with the Zephyr embedded code.
	  This component allows translating Zephyr's ZVFS fcntl-like flags (e.g. zvfs_open() flags)
	  from/to the embedded code to/from the host libC.
	  When the POSIX compatibility layer is enabled in Zephyr, the embedded fcntl.h constants
	  match the Zephyr VFS equivalent and can therefore also be translated with this component.
