version: 2
enable-beta-ecosystems: true
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    commit-message:
      prefix: "ci: github: "
    labels: []
    groups:
      actions-deps:
        patterns:
          - "*"

  - package-ecosystem: "uv"
    directory: "/doc"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    commit-message:
      prefix: "ci: doc: "
    labels: []
    groups:
      doc-deps:
        patterns:
          - "*"
