# Copyright 2025 ST Microelectronics
# SPDX-License-Identifier: Apache-2.0

config VIDEO_OV9655
	bool "OV9655 CMOS digital image sensor"
	select I2C
	depends on DT_HAS_OVTI_OV9655_ENABLED
	default y
	help
	  Enable driver for OV9655 CMOS digital image sensor device.
