# Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config VIDEO_NATIVE_SIM_FIFO
	bool "Native simulator host FIFO video source [EXPERIMENTAL]"
	default y
	depends on DT_HAS_ZEPHYR_NATIVE_SIM_VIDEO_FIFO_ENABLED
	depends on NATIVE_LIBRARY
	select NATIVE_USE_NSI_ERRNO
	select EXPERIMENTAL
	help
	  Enable a video capture device reading raw frames from a named pipe
	  (FIFO) on the host filesystem. A host process such as ffmpeg feeds the
	  FIFO.
