# STM32H745ZI Nucleo board configuration

# Copyright (c) 2020 Alexander Kozhinov <ak.alexander.kozhinov@gmail.com>
# SPDX-License-Identifier: Apache-2.0

if BOARD_NUCLEO_H745ZI_Q

configdefault NET_L2_ETHERNET
	default y

endif # BOARD_NUCLEO_H745ZI_Q
