# Kconfig - STM32 Flight Controller Unit board configuration
#
# Copyright (c) 2019 Linumiz
#
# SPDX-License-Identifier: Apache-2.0
#


if BOARD_STEVAL_FCU001V1

config BOARD
	default "steval_fcu001v1"

if UART_CONSOLE

config UART_1
	default y

endif # UART_CONSOLE

if I2C

config I2C_2
	default y

endif # I2C


if PWM

config PWM_STM32_2
	default y

endif #PWM


endif # BOARD_STEVAL_FCU001V1
