# Copyright (c) 2020 ITE Corporation. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_ITE_EC
	bool

config SOC_FAMILY
	default "ite_ec" if SOC_FAMILY_ITE_EC

rsource "*/Kconfig.soc"
