# SOF UAOL configuration options

# Copyright (c) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

config DAI_INTEL_UAOL
	bool "Intel USB Audio Offload Link (UAOL) driver support for DAI interface"
	default y
	help
	  Enable Intel USB Audio Offload Link (UAOL) driver for DAI interface
