# Copyright 2022 HNU-ESNL
# Copyright 2022 openEuler SIG-Zephyrs
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_RK3568
	bool "Rockchip RK3568 Series"
	select ARM64
	select SOC_FAMILY_ROCKCHIP
	help
	  Enable support for RK3568 Series.
