/*
 * Copyright (c) 2022 Renesas Electronics Corporation
 * SPDX-License-Identifier: Apache-2.0
 */

#include <arm/armv8-m.dtsi>
#include <mem.h>

/ {
	cpus: cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			compatible = "arm,cortex-m33f";
			reg = <0>;
			clock-frequency = <32000000>;
		};
	};

	soc {
		sram0: memory@20000000 {
			compatible = "mmio-sram";
		};
	};
};

&nvic {
	arm,num-irq-priority-bits = <4>;
};
