CONFIG_X86=y
CONFIG_SOC_QUARK_D2000=y
CONFIG_SOC_SERIES_QUARK_D2000=y
CONFIG_BOARD_QUARK_D2000_CRB=y
CONFIG_CPU_MINUTEIA=y
CONFIG_SET_GDT=n
CONFIG_IDT_NUM_VECTORS=64
CONFIG_UART_QMSI=y
CONFIG_UART_CONSOLE=y
CONFIG_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_SERIAL_HAS_DRIVER=y
CONFIG_PRINTK=y
CONFIG_ISR_STACK_SIZE=512
CONFIG_MAIN_STACK_SIZE=1024
CONFIG_PINMUX=y
