CONFIG_SOC_SERIES_RISCV64_SHAKTI=y
CONFIG_SOC_RISCV64_SHAKTI=y
CONFIG_BOARD_SECURE_IOT=y
CONFIG_CONSOLE=y
CONFIG_PRINTK=y
CONFIG_SERIAL=y
CONFIG_UART_SHAKTI=y
CONFIG_GPIO=y
CONFIG_GPIO_SHAKTI=y
CONFIG_UART_SHAKTI_PORT_0=y
CONFIG_UART_CONSOLE=y
CONFIG_XIP=n
CONFIG_RISCV_MACHINE_TIMER=y
CONFIG_PLIC=y
CONFIG_BOOT_BANNER=y
CONFIG_SRAM_BASE_ADDRESS=0x80000000
CONFIG_SRAM_SIZE=256000
CONFIG_RAM_CONSOLE=y
CONFIG_TIMING_FUNCTIONS=y
CONFIG_FPU=y
CONFIG_MULTITHREADING=n
CONFIG_I2C=y
CONFIG_I2C_SECURE_IOT=y
CONFIG_SPI=y
CONFIG_SPI_SHAKTI=y

CONFIG_ILI9341=y
# Below 2 configs for FPGA 40MHZ clk
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=156250
CONFIG_SYS_CLOCK_TICKS_PER_SEC=10000

# Below 2 configs for FPGA 700MHZ clk
# CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=156250
# CONFIG_SYS_CLOCK_TICKS_PER_SEC=10000


# CONFIG_MINIMAL_LIBC_RAND=y
# CONFIG_POSIX_CLOCK=y
