/*
 * Copyright (c) 2019 Intel Corporation.
 *
 * SPDX-License-Identifier: Apache-2.0
 */
/dts-v1/;

#include <espressif/esp32.dtsi>

/ {
	model = "esp32";
	compatible = "espressif,esp32";

	aliases {
		uart-0 = &uart0;
	};

	chosen {
		zephyr,sram = &sram0;
		zephyr,console = &uart0;
	};
};

&cpu0 {
	clock-frequency = <40000000>;
};

&cpu1 {
	clock-frequency = <40000000>;
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
};
