# ST Microelectronics STM32F7 MCU line

# Copyright (c) 2018 Yurii Hamann
# SPDX-License-Identifier: Apache-2.0

# Kconfig symbols common to STM32F7 series

if SOC_SERIES_STM32F7X

source "soc/arm/st_stm32/stm32f7/Kconfig.defconfig.stm32f7*"

config SOC_SERIES
	default "stm32f7"

config DMA_STM32_V1
	default y
	depends on DMA_STM32

endif # SOC_SERIES_STM32F7X
