/*
 * Copyright (c) 2021, Linumiz
 *
 */

#include "waveshare_epaper_common.dtsi"

/ {
	chosen {
		zephyr,display = &gd7965;
	};
};

&arduino_spi {
	gd7965: gd7965@0 {
		compatible = "gooddisplay,gd7965","gooddisplay,gdew042t2";
    		label = "GD7965";
		spi-max-frequency = <4000000>;
		reg = <0>;
		width = <400>;
		height = <300>;
		dc-gpios = <&arduino_header 15 GPIO_ACTIVE_LOW>;	/* D9 */
		reset-gpios = <&arduino_header 14 GPIO_ACTIVE_LOW>;	/* D8 */
		busy-gpios = <&arduino_header 13 GPIO_ACTIVE_LOW>;	/* D7 */
		pwr = [03 00 26 26 09];
		softstart = [17 17 17];
		cdi = <0xd7>;
		tcon = <0x22>;
	};
};
