config HAS_DTS
	bool
	help
	  This option specifies that the target platform supports device tree
	  configuration.

config HAS_DTS_ADC
	bool
	depends on HAS_DTS
	help
	  This option specifies that the target platform supports device tree
	  configuration for ADC.

config HAS_DTS_GPIO
	bool
	depends on HAS_DTS
	help
	  This option specifies that the target platform supports device tree
	  configuration for GPIO.

config HAS_DTS_GPIO_DEVICE
	bool
	depends on HAS_DTS_GPIO
	help
	  This option specifies that the target platform supports device tree
	  configuration for GPIO on the driver/consumer side.

config HAS_DTS_I2C
	bool
	depends on HAS_DTS
	help
	  This option specifies that the target platform supports device tree
	  configuration for I2c.

config HAS_DTS_I2C_DEVICE
	bool
	depends on HAS_DTS_I2C
	help
	  This option specifies that the target platform supports device tree
	  configuration for sensors.

config HAS_DTS_SPI
	bool
	depends on HAS_DTS
	help
	  This option specifies that the target platform supports device tree
	  configuration for SPI.

config HAS_DTS_SPI_DEVICE
	bool
	depends on HAS_DTS_SPI
	help
	  This option specifies that the target platform supports device tree
	  configuration for spi devices, like sensors or RF modules.

config HAS_DTS_SPI_PINS
	bool
	help
	  This option specifies that the target platform supports device tree
	  configuration for pin definition of spi devices, like sensors or
	  RF modules.

config HAS_DTS_USB
	bool
	depends on HAS_DTS
	help
	  This option specifies that the target platform supports device tree
	  configuration for USB.

config HAS_DTS_WDT
	bool
	depends on HAS_DTS
	help
	  This option specifies that the target platform supports device tree
	  configuration for WDT.
