/*
 * Copyright (c) 2026 The Zephyr Project Contributors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <st/n6/stm32n647X0.dtsi>
#include <st/n6/stm32n647x0hxq-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/display/panel.h>

/ {
	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &axisram2;
		zephyr,display = &ltdc;
	};

	leds {
		compatible = "gpio-leds";

		led0: led_0 {
			gpios = <&gpiog 10 GPIO_ACTIVE_HIGH>;
			label = "User LED0";
		};

		led1: led_1 {
			gpios = <&gpioe 10 GPIO_ACTIVE_HIGH>;
			label = "User LED1";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";

		wk_up: wk_up {
			label = "WK_UP";
			gpios = <&gpioc 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	aliases {
		led0 = &led0;
		led1 = &led1;
		sw0 = &wk_up;
	};
};

&clk_hse {
	hse-div2;
	clock-frequency = <DT_FREQ_M(48)>;
	status = "okay";
};

&clk_hsi {
	hsi-div = <1>;
	status = "okay";
};

&perck {
	clocks = <&rcc STM32_SRC_HSI PER_SEL(0)>;
	status = "okay";
};

&pll1 {
	clocks = <&clk_hse>;
	div-m = <3>;
	mul-n = <150>;
	div-p1 = <1>;
	div-p2 = <1>;
	status = "okay";
};

&ic1 {
	pll-src = <1>;
	ic-div = <3>;
	status = "okay";
};

&ic2 {
	pll-src = <1>;
	ic-div = <6>;
	status = "okay";
};

&ic6 {
	pll-src = <1>;
	ic-div = <2>;
	status = "okay";
};

&ic11 {
	pll-src = <1>;
	ic-div = <3>;
	status = "okay";
};

/* LTDC pixel clock: PLL1 (2400 MHz) / 72 = 33.33 MHz (~60 Hz for 800x480) */
&ic16 {
	pll-src = <1>;
	ic-div = <72>;
	status = "okay";
};

&cpusw {
	clocks = <&rcc STM32_SRC_IC1 CPU_SEL(3)>;
	clock-frequency = <DT_FREQ_M(800)>;
	status = "okay";
};

&rcc {
	clocks = <&ic2>;
	clock-frequency = <DT_FREQ_M(400)>;
	ahb-prescaler = <2>;
	timg-prescaler = <2>;
};

&usart1 {
	clocks = <&rcc STM32_CLOCK(APB2, 4)>,
		 <&rcc STM32_SRC_CKPER USART1_SEL(1)>;
	pinctrl-0 = <&usart1_tx_pe5 &usart1_rx_pe6>;
	pinctrl-names = "default";
	current-speed = <115200>;
	dmas = <&gpdma1 0 108 (STM32_DMA_PERIPH_TX | STM32_DMA_PRIORITY_HIGH)>,
	       <&gpdma1 1 107 (STM32_DMA_PERIPH_RX | STM32_DMA_PRIORITY_HIGH)>;
	dma-names = "tx", "rx";
	status = "okay";
};

&gpdma1 {
	status = "okay";
};

&ltdc {
	clocks = <&rcc STM32_CLOCK(APB5, 1)>,
		 <&rcc STM32_SRC_IC16 LTDC_SEL(2)>;
	pinctrl-0 = <&ltdc_g3_pa0  &ltdc_g2_pa1  &ltdc_b7_pa2
		     &ltdc_clk_pa5  &ltdc_b6_pa8  &ltdc_b5_pa9
		     &ltdc_b4_pa10  &ltdc_b3_pa11 &ltdc_r5_pa15
		     &ltdc_r3_pb4   &ltdc_g7_pb10 &ltdc_g6_pb11
		     &ltdc_g5_pb12  &ltdc_g4_pb15
		     &ltdc_r6_pf8   &ltdc_hsync_pf9
		     &ltdc_vsync_pg0 &ltdc_r7_pg9  &ltdc_de_pg13
		     &ltdc_r4_ph4>;
	pinctrl-names = "default";
	bl-ctrl-gpios = <&gpioa 3 GPIO_ACTIVE_HIGH>;
	ext-sdram = <&axisram1>;

	status = "okay";

	width = <800>;
	height = <480>;
	pixel-format = <PANEL_PIXEL_FORMAT_RGB_888>;

	display-timings {
		compatible = "zephyr,panel-timing";
		de-active = <0>;
		pixelclk-active = <0>;
		hsync-active = <0>;
		vsync-active = <0>;
		hsync-len = <1>;
		vsync-len = <1>;
		hback-porch = <46>;
		vback-porch = <23>;
		hfront-porch = <210>;
		vfront-porch = <22>;
	};

	def-back-color-red = <0x00>;
	def-back-color-green = <0x00>;
	def-back-color-blue = <0x00>;
};
