# STM32F429I-DISC1 development board

# Copyright (c) 2016 Linaro Limited.
# SPDX-License-Identifier: Apache-2.0

config BOARD_STM32F429I_DISC1
	def_bool "$(BOARD)" = "stm32f429i_disc1"
	depends on SOC_STM32F429XX
