# TI SimpleLink CC3220SF SoC

# SPDX-License-Identifier: Apache-2.0

if SOC_CC3220SF

config SOC
	default "cc3220sf"

config NUM_IRQS
	# must be >= the highest interrupt number used
	# This includes the NWP interrupt
	default 178

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 80000000

config ROM_START_OFFSET
	default 0x800 if XIP
	default 0x0   if !XIP

# Override the setting in misc/Kconfig to allow full use of SRAM:
config BOOTLOADER_SRAM_SIZE
	default 0 if !XIP

if !XIP
config FLASH_SIZE
	default 0
config FLASH_BASE_ADDRESS
	default 0
endif

endif # SOC_CC3220SF
