# ST Microelectronics STM32WBA MCU line

# Copyright (c) 2023 STMicroelectronics
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_STM32WBAX

source "soc/arm/st_stm32/stm32wba/Kconfig.defconfig.stm32wba*"

config SOC_SERIES
	default "stm32wba"

config STM32_LPTIM_TIMER
	default y if PM

endif # SOC_SERIES_STM32WBAX
