#
# Copyright (c) 2019 Antmicro <www.antmicro.com>
#
# SPDX-License-Identifier: Apache-2.0
#

CONFIG_RISCV=y
CONFIG_SOC_RISCV32_LITEX_VEXRISCV=y
CONFIG_BOARD_LITEX_VEXRISCV=y
CONFIG_VEXRISCV_LITEX_IRQ=y
CONFIG_LITEX_TIMER=y
CONFIG_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_LITEUART=y
CONFIG_UART_CONSOLE=y
CONFIG_ETH_LITEETH=y
CONFIG_ETH_LITEETH_0=y
CONFIG_NET_L2_ETHERNET=y
CONFIG_HWINFO=y
CONFIG_HWINFO_LITEX=y
CONFIG_SPI=y
CONFIG_SPI_LITESPI=y
