/*
 * Copyright (c) 2025 Syswonder
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <arm64/rockchip/rk3588.dtsi>
#include <common/mem.h>

/ {
	compatible = "rockchip,rk3588";
	model = "Firefly ROC-RK3588-PC";

	chosen {
		zephyr,console = &uart2;
		zephyr,shell-uart = &uart2;
		zephyr,sram = &dram;
	};

	dram: memory@50000000 {
		compatible = "mmio-sram";
		reg = <0x50000000 DT_SIZE_M(1)>;
		device_type = "memory";
	};
};

&uart2 {
	current-speed = <1500000>;
	status = "okay";
};

&uart3 {
	current-speed = <115200>;
	status = "disabled";
};
