# Copyright (c) 2024 Michael Hope
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_CH32V
	select RISCV
	select BUILD_OUTPUT_HEX
	select CH32V00X_SYSTICK
	select ATOMIC_OPERATIONS_C
	imply XIP

if SOC_FAMILY_CH32V

rsource "*/Kconfig"

endif # SOC_FAMILY_CH32V
