# Infineon CAT1 RTC configuration options

# Copyright (c) 2024 Cypress Semiconductor Corporation (an Infineon company) or
# an affiliate of Cypress Semiconductor Corporation
#
# SPDX-License-Identifier: Apache-2.0

config RTC_INFINEON_CAT1
	bool "Infineon CAT1 RTC driver"
	default y
	depends on DT_HAS_INFINEON_CAT1_RTC_ENABLED
	select USE_INFINEON_RTC
	help
	  This option enables the RTC driver for Infineon CAT1 family.
