# Copyright (c) 2021 Carlo Caione <ccaione@baylibre.com>
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_FVP_AEMV8A

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 100000000

config NUM_IRQS
	default 16384 if GIC_V3_ITS
	default 128 if !GIC_V3_ITS

endif # SOC_SERIES_FVP_AEMV8A
