/*
 * Copyright (c) 2026 Aerlync Labs Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <arm/armv6-m.dtsi>
#include <mem.h>

/ {
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			compatible = "arm,cortex-m0+";
			reg = <0>;
			clock-frequency = <30000000>;
		};
	};

	/*
	 * LPC84X have either 8KB or 16KB of SRAM
	 * that should be taken care in board specific .dtsi
	 */
	sram0: memory@10000000 {
		compatible = "mmio-sram";
	};

	soc {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		iap: flash-controller@40040000 {
			reg = <0x40040000 0x4000>;
			ranges;
			#address-cells = <1>;
			#size-cells = <1>;
			status = "disabled";

			flash0: flash@0 {
				compatible = "soc-nv-flash";
				reg = <0x00000000 DT_SIZE_K(64)>;
				ranges = <0x0 0x0 DT_SIZE_K(64)>;
				#address-cells = <1>;
				#size-cells = <1>;
				erase-block-size = <1024>;
				write-block-size = <64>;
			};
		};
	};
};

&nvic {
	arm,num-irq-priority-bits = <2>;
};
