# BeagleConnect Freedom board configuration

# Copyright (c) 2020 Erik Larson
# Copyright (c) 2020 Jason Kridner, BeagleBoard.org Foundation
# SPDX-License-Identifier: Apache-2.0

if BOARD_BEAGLECONNECT_FREEDOM

config BOARD
	default "beagleconnect_freedom"

endif # BOARD_BEAGLECONNECT_FREEDOM
