# Copyright (c) 2022 Zephyr Project members and individual contributors
# SPDX-License-Identifier: Apache-2.0

config BOARD_MEC1501MODULAR_ASSY6885
	bool
	default y
	select SOC_MEC1501_HSZ
	select SOC_SERIES_MEC1501X
	select SOC_MEC1501_VCI_PINS_AS_GPIOS
