# Copyright (c) 2026 Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

if BOARD_SAM_E54_XPRO

config EEPROM
	default y if NVMEM

configdefault NET_L2_ETHERNET
	default y

endif # BOARD_SAM_E54_XPRO
