# Copyright (c) 2026 ENE Technology Inc.
# SPDX-License-Identifier: Apache-2.0

config TACH_ENE_KB106X
	bool "ENE KB106X tachometer sensor"
	default y
	depends on DT_HAS_ENE_KB106X_TACH_ENABLED
	select PINCTRL
	help
	  Enable the ENE KB106X tachometer sensor.
