# Kconfig - nRF52840-MDK board configuration
#
# Copyright (c) 2018 makerdiary.com
#
# SPDX-License-Identifier: Apache-2.0

if BOARD_NRF52840_MDK

config BOARD
	default "nrf52840_mdk"

if I2C

config I2C_0
	default y

endif # I2C

if PWM

config PWM_0
	default y

endif # PWM

if USB

config USB_NRF52840
	default y

config USB_DEVICE_STACK
	default y

endif # USB

if IEEE802154

config IEEE802154_NRF5
	default y

endif # IEEE802154

config BT_CTLR
	default BT

endif # BOARD_NRF52840_MDK
