# Copyright (c) 2024 Silicon Laboratories Inc.
# SPDX-License-Identifier: Apache-2.0

rsource "*/Kconfig.defconfig"

if SOC_FAMILY_SILABS_S1

configdefault SYS_CLOCK_HW_CYCLES_PER_SEC
	default $(dt_node_int_prop_int,/cpus/cpu@0,clock-frequency) if CORTEX_M_SYSTICK
	default 32768 if SILABS_SLEEPTIMER_TIMER

configdefault SYS_CLOCK_TICKS_PER_SEC
	default 128 if !TICKLESS_KERNEL && SILABS_SLEEPTIMER_TIMER
	default 32768 if SILABS_SLEEPTIMER_TIMER

configdefault SILABS_SLEEPTIMER_TIMER
	default y

configdefault CORTEX_M_SYSTICK
	default n if SILABS_SLEEPTIMER_TIMER

endif # SOC_FAMILY_SILABS_S1
