# Copyright (c) 2021 BrainCo Inc.
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_GD32F3X0
	bool
	select SOC_FAMILY_GD_GD32
	help
	  Enable support for GigaDevice GD32F3X0 MCU series

config SOC_SERIES
	default "gd32f3x0" if SOC_SERIES_GD32F3X0

config SOC_GD32F350
	bool
	select SOC_SERIES_GD32F3X0

config SOC
	default "gd32f350" if SOC_GD32F350
