# Copyright (c) 2021, ATL Electronics
# SPDX-License-Identifier: Apache-2.0

if SOC_GD32F403R || SOC_GD32F403V || SOC_GD32F403Z

config SOC
	default	"gd32f403r" if SOC_GD32F403R
	default	"gd32f403v" if SOC_GD32F403V
	default	"gd32f403z" if SOC_GD32F403Z

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 168000000

config NUM_IRQS
	default 68

endif
