# STM32L452RE Nucleo board configuration
#
# Copyright (c) 2019 Libre Solar Technologies GmbH
#
# SPDX-License-Identifier: Apache-2.0

if BOARD_NUCLEO_L452RE

config BOARD
	default "nucleo_l452re"

config PWM_STM32_2
	default y
	depends on PWM

config SPI_STM32_INTERRUPT
	default y
	depends on SPI

config CAN_1
	default y
	depends on CAN

endif # BOARD_NUCLEO_L452RE
