/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include "nrf93m1dk_nrf54l15_common.dtsi"

/ {
	buttons {
		button1: button_1 {
			gpios = <&gpio1 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button 1";
			zephyr,code = <INPUT_KEY_1>;
		};
	};

	modem_dcdc: modem_dcdc {
		compatible = "power-domain-gpio";
		enable-gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
		#power-domain-cells = <0>;
		startup-delay-us = <100000>; /* wait for 100ms to stabilize dcdc supply */
		off-on-delay-us = <500000>; /* wait for 500ms to stabilize main supply */
	};

	aliases {
		sw1 = &button1;
	};
};

&gpio1 {
	status = "okay";

	modem-usb-boot {
		gpio-hog;
		gpios = <0 GPIO_ACTIVE_HIGH>;
		output-low;
	};
};

&gpio2 {
	status = "okay";

	modem_uart_switch: modem-uart-switch {
		gpio-hog;
		gpios = <6 GPIO_ACTIVE_HIGH>;
		output-high;
	};
};

&uart30 {
	modem: modem {
		compatible = "nordic,nrf93m1";
		power-domains = <&modem_dcdc>;
		mdm-power-gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
		mdm-reset-gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;
	};
};
