# Atmel SAME53 MCU series

# Copyright (c) 2019 ML!PA Consulting GmbH
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "Atmel SAME53 MCU Selection"
	depends on SOC_SERIES_SAME53

config SOC_PART_NUMBER_SAME53J18A
	bool "SAME53J18A"

config SOC_PART_NUMBER_SAME53J19A
	bool "SAME53J19A"

config SOC_PART_NUMBER_SAME53J20A
	bool "SAME53J20A"

config SOC_PART_NUMBER_SAME53N19A
	bool "SAME53N19A"

config SOC_PART_NUMBER_SAME53N20A
	bool "SAME53N20A"

endchoice
