# Copyright (c) 2025 Nordic Semiconductor ASA
# Copyright 2026 Arm Limited and/or its affiliates <open-source-office@arm.com>
# SPDX-License-Identifier: Apache-2.0

config BOARD_V2M_MUSCA_S1
	select DEPRECATED
