# Copyright (c) 2019 STMicroelectronics
# SPDX-License-Identifier: Apache-2.0

config BOARD_STM32MP157_DK2
	select SOC_STM32MP157CXX if BOARD_STM32MP157_DK2_STM32MP157CXX
	select SOC_STM32MP157FXX if BOARD_STM32MP157_DK2_STM32MP157FXX
