# Copyright (c) 2022 Renesas Electronics Corporation
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_DA1469X

source "soc/arm/renesas_smartbond/da1469x/Kconfig.defconfig.da1469*"

config SOC_SERIES
	default "da1469x"

config NUM_IRQS
	default 40

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default $(dt_node_int_prop_int,/cpus/cpu@0,clock-frequency)

config SRAM_VECTOR_TABLE
	default y

endif # SOC_SERIES_DA1469X
