# Nordic Semiconductor nRFx MCU peripherals list.

# Copyright (c) 2018 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config HAS_HW_NRF_ACL
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_ACL))

config HAS_HW_NRF_ADC
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_ADC))

config HAS_HW_NRF_BPROT
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_BPROT))

config HAS_HW_NRF_CC310
	def_bool $(dt_compat_enabled,$(DT_COMPAT_ARM_CRYPTOCELL_310)) || \
		 ($(dt_nodelabel_enabled,psa_rng) && SOC_SERIES_NRF91X)

config HAS_HW_NRF_CC312
	def_bool $(dt_compat_enabled,$(DT_COMPAT_ARM_CRYPTOCELL_312)) || \
		 ($(dt_nodelabel_enabled,psa_rng) && SOC_NRF5340_CPUAPP)

config HAS_HW_NRF_CCM
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_CCM))

config HAS_HW_NRF_CCM_LFLEN_8BIT
	def_bool $(dt_nodelabel_bool_prop,ccm,length-field-length-8-bits)

config HAS_HW_NRF_CCM_HEADERMASK
	def_bool $(dt_nodelabel_bool_prop,ccm,headermask-supported)

config HAS_HW_NRF_CLOCK
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_CLOCK))

config HAS_HW_NRF_COMP
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_COMP))

config HAS_HW_NRF_CTRLAP
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_CTRLAPPERI))

config HAS_HW_NRF_DCNF
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_DCNF))

config HAS_HW_NRF_DPPIC
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_DPPIC))

config HAS_HW_NRF_ECB
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_ECB))

config HAS_HW_NRF_EGU0
	def_bool $(dt_nodelabel_enabled_with_compat,egu0,$(DT_COMPAT_NORDIC_NRF_EGU))

config HAS_HW_NRF_EGU1
	def_bool $(dt_nodelabel_enabled_with_compat,egu1,$(DT_COMPAT_NORDIC_NRF_EGU))

config HAS_HW_NRF_EGU2
	def_bool $(dt_nodelabel_enabled_with_compat,egu2,$(DT_COMPAT_NORDIC_NRF_EGU))

config HAS_HW_NRF_EGU3
	def_bool $(dt_nodelabel_enabled_with_compat,egu3,$(DT_COMPAT_NORDIC_NRF_EGU))

config HAS_HW_NRF_EGU4
	def_bool $(dt_nodelabel_enabled_with_compat,egu4,$(DT_COMPAT_NORDIC_NRF_EGU))

config HAS_HW_NRF_EGU5
	def_bool $(dt_nodelabel_enabled_with_compat,egu5,$(DT_COMPAT_NORDIC_NRF_EGU))

config HAS_HW_NRF_EGU020
	def_bool $(dt_nodelabel_enabled_with_compat,egu020,$(DT_COMPAT_NORDIC_NRF_EGU))

config HAS_HW_NRF_GPIO0
	def_bool $(dt_nodelabel_enabled_with_compat,gpio0,$(DT_COMPAT_NORDIC_NRF_GPIO))

config HAS_HW_NRF_GPIO1
	def_bool $(dt_nodelabel_enabled_with_compat,gpio1,$(DT_COMPAT_NORDIC_NRF_GPIO))

config HAS_HW_NRF_GPIO2
	def_bool $(dt_nodelabel_enabled_with_compat,gpio2,$(DT_COMPAT_NORDIC_NRF_GPIO))

config HAS_HW_NRF_GPIOTE0
	def_bool $(dt_nodelabel_enabled_with_compat,gpiote0,$(DT_COMPAT_NORDIC_NRF_GPIOTE))

config HAS_HW_NRF_GPIOTE1
	def_bool $(dt_nodelabel_enabled_with_compat,gpiote1,$(DT_COMPAT_NORDIC_NRF_GPIOTE))

config HAS_HW_NRF_GPIOTE20
	def_bool $(dt_nodelabel_enabled_with_compat,gpiote20,$(DT_COMPAT_NORDIC_NRF_GPIOTE))

config HAS_HW_NRF_GPIOTE30
	def_bool $(dt_nodelabel_enabled_with_compat,gpiote30,$(DT_COMPAT_NORDIC_NRF_GPIOTE))

config HAS_HW_NRF_GPIOTE130
	def_bool $(dt_nodelabel_enabled_with_compat,gpiote130,$(DT_COMPAT_NORDIC_NRF_GPIOTE))

config HAS_HW_NRF_GPIOTE131
	def_bool $(dt_nodelabel_enabled_with_compat,gpiote131,$(DT_COMPAT_NORDIC_NRF_GPIOTE))

config HAS_HW_NRF_GRTC
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_GRTC))

config HAS_HW_NRF_I2S0
	def_bool $(dt_nodelabel_enabled_with_compat,i2s0,$(DT_COMPAT_NORDIC_NRF_I2S))

config HAS_HW_NRF_I2S20
	def_bool $(dt_nodelabel_enabled_with_compat,i2s20,$(DT_COMPAT_NORDIC_NRF_I2S))

config HAS_HW_NRF_IPC
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_IPC))

config HAS_HW_NRF_KMU
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_KMU))

config HAS_HW_NRF_LPCOMP
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_LPCOMP))

config HAS_HW_NRF_MPU
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_MPU))

config HAS_HW_NRF_MUTEX
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_MUTEX))

config HAS_HW_NRF_MWU
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_MWU))

config HAS_HW_NRF_NFCT
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_NFCT))

config HAS_HW_NRF_NVMC_PE
	def_bool $(dt_nodelabel_bool_prop,flash_controller,partial-erase)

config HAS_HW_NRF_OSCILLATORS
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_OSCILLATORS))

config HAS_HW_NRF_PDM
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_PDM))

config HAS_HW_NRF_POWER
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_POWER))

config HAS_HW_NRF_PPI
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_PPI))

config HAS_HW_NRF_PWM0
	def_bool $(dt_nodelabel_enabled_with_compat,pwm0,$(DT_COMPAT_NORDIC_NRF_PWM))

config HAS_HW_NRF_PWM1
	def_bool $(dt_nodelabel_enabled_with_compat,pwm1,$(DT_COMPAT_NORDIC_NRF_PWM))

config HAS_HW_NRF_PWM2
	def_bool $(dt_nodelabel_enabled_with_compat,pwm2,$(DT_COMPAT_NORDIC_NRF_PWM))

config HAS_HW_NRF_PWM3
	def_bool $(dt_nodelabel_enabled_with_compat,pwm3,$(DT_COMPAT_NORDIC_NRF_PWM))

config HAS_HW_NRF_PWM20
	def_bool $(dt_nodelabel_enabled_with_compat,pwm20,$(DT_COMPAT_NORDIC_NRF_PWM))

config HAS_HW_NRF_PWM21
	def_bool $(dt_nodelabel_enabled_with_compat,pwm21,$(DT_COMPAT_NORDIC_NRF_PWM))

config HAS_HW_NRF_PWM22
	def_bool $(dt_nodelabel_enabled_with_compat,pwm22,$(DT_COMPAT_NORDIC_NRF_PWM))

config HAS_HW_NRF_PWM120
	def_bool $(dt_nodelabel_enabled_with_compat,pwm120,$(DT_COMPAT_NORDIC_NRF_PWM))

config HAS_HW_NRF_PWM130
	def_bool $(dt_nodelabel_enabled_with_compat,pwm130,$(DT_COMPAT_NORDIC_NRF_PWM))

config HAS_HW_NRF_PWM131
	def_bool $(dt_nodelabel_enabled_with_compat,pwm131,$(DT_COMPAT_NORDIC_NRF_PWM))

config HAS_HW_NRF_PWM132
	def_bool $(dt_nodelabel_enabled_with_compat,pwm132,$(DT_COMPAT_NORDIC_NRF_PWM))

config HAS_HW_NRF_PWM133
	def_bool $(dt_nodelabel_enabled_with_compat,pwm133,$(DT_COMPAT_NORDIC_NRF_PWM))

config HAS_HW_NRF_QDEC0
	def_bool $(dt_nodelabel_enabled_with_compat,qdec0,$(DT_COMPAT_NORDIC_NRF_QDEC))

config HAS_HW_NRF_QDEC1
	def_bool $(dt_nodelabel_enabled_with_compat,qdec1,$(DT_COMPAT_NORDIC_NRF_QDEC))

config HAS_HW_NRF_QDEC20
	def_bool $(dt_nodelabel_enabled_with_compat,qdec20,$(DT_COMPAT_NORDIC_NRF_QDEC))

config HAS_HW_NRF_QDEC21
	def_bool $(dt_nodelabel_enabled_with_compat,qdec21,$(DT_COMPAT_NORDIC_NRF_QDEC))

config HAS_HW_NRF_QDEC130
	def_bool $(dt_nodelabel_enabled_with_compat,qdec130,$(DT_COMPAT_NORDIC_NRF_QDEC))

config HAS_HW_NRF_QDEC131
	def_bool $(dt_nodelabel_enabled_with_compat,qdec131,$(DT_COMPAT_NORDIC_NRF_QDEC))

config HAS_HW_NRF_QSPI
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_QSPI))

config HAS_HW_NRF_RADIO_BLE_2M
	def_bool $(dt_nodelabel_bool_prop,radio,ble-2mbps-supported)

config HAS_HW_NRF_RADIO_BLE_CODED
	def_bool $(dt_nodelabel_bool_prop,radio,ble-coded-phy-supported)

config HAS_HW_NRF_RADIO_DFE
	def_bool $(dt_nodelabel_bool_prop,radio,dfe-supported)

config HAS_HW_NRF_RADIO_IEEE802154
	def_bool $(dt_nodelabel_bool_prop,radio,ieee802154-supported)

config HAS_HW_NRF_RADIO_TX_PWR_HIGH
	def_bool $(dt_nodelabel_bool_prop,radio,tx-high-power-supported)

config HAS_HW_NRF_REGULATORS
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_REGULATORS))

config HAS_HW_NRF_RESET
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_RESET))

config HAS_HW_NRF_RNG
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_RNG))

config HAS_HW_NRF_RTC0
	def_bool $(dt_nodelabel_enabled_with_compat,rtc0,$(DT_COMPAT_NORDIC_NRF_RTC))

config HAS_HW_NRF_RTC1
	def_bool $(dt_nodelabel_enabled_with_compat,rtc1,$(DT_COMPAT_NORDIC_NRF_RTC))

config HAS_HW_NRF_RTC2
	def_bool $(dt_nodelabel_enabled_with_compat,rtc2,$(DT_COMPAT_NORDIC_NRF_RTC))

config HAS_HW_NRF_RTC130
	def_bool $(dt_nodelabel_enabled_with_compat,rtc130,$(DT_COMPAT_NORDIC_NRF_RTC))

config HAS_HW_NRF_RTC131
	def_bool $(dt_nodelabel_enabled_with_compat,rtc131,$(DT_COMPAT_NORDIC_NRF_RTC))

config HAS_HW_NRF_SAADC
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_SAADC))

config HAS_HW_NRF_SPI0
	def_bool $(dt_nodelabel_enabled_with_compat,spi0,$(DT_COMPAT_NORDIC_NRF_SPI))

config HAS_HW_NRF_SPI1
	def_bool $(dt_nodelabel_enabled_with_compat,spi1,$(DT_COMPAT_NORDIC_NRF_SPI))

config HAS_HW_NRF_SPI2
	def_bool $(dt_nodelabel_enabled_with_compat,spi2,$(DT_COMPAT_NORDIC_NRF_SPI))

config HAS_HW_NRF_SPIM0
	def_bool $(dt_nodelabel_enabled_with_compat,spi0,$(DT_COMPAT_NORDIC_NRF_SPIM))

config HAS_HW_NRF_SPIM1
	def_bool $(dt_nodelabel_enabled_with_compat,spi1,$(DT_COMPAT_NORDIC_NRF_SPIM))

config HAS_HW_NRF_SPIM2
	def_bool $(dt_nodelabel_enabled_with_compat,spi2,$(DT_COMPAT_NORDIC_NRF_SPIM))

config HAS_HW_NRF_SPIM3
	def_bool $(dt_nodelabel_enabled_with_compat,spi3,$(DT_COMPAT_NORDIC_NRF_SPIM))

config HAS_HW_NRF_SPIM4
	def_bool $(dt_nodelabel_enabled_with_compat,spi4,$(DT_COMPAT_NORDIC_NRF_SPIM))

config HAS_HW_NRF_SPIM00
	def_bool $(dt_nodelabel_enabled_with_compat,spi00,$(DT_COMPAT_NORDIC_NRF_SPIM))

config HAS_HW_NRF_SPIM20
	def_bool $(dt_nodelabel_enabled_with_compat,spi20,$(DT_COMPAT_NORDIC_NRF_SPIM))

config HAS_HW_NRF_SPIM21
	def_bool $(dt_nodelabel_enabled_with_compat,spi21,$(DT_COMPAT_NORDIC_NRF_SPIM))

config HAS_HW_NRF_SPIM22
	def_bool $(dt_nodelabel_enabled_with_compat,spi22,$(DT_COMPAT_NORDIC_NRF_SPIM))

config HAS_HW_NRF_SPIM30
	def_bool $(dt_nodelabel_enabled_with_compat,spi30,$(DT_COMPAT_NORDIC_NRF_SPIM))

config HAS_HW_NRF_SPIM120
	def_bool $(dt_nodelabel_enabled_with_compat,spi120,$(DT_COMPAT_NORDIC_NRF_SPIM))

config HAS_HW_NRF_SPIM121
	def_bool $(dt_nodelabel_enabled_with_compat,spi121,$(DT_COMPAT_NORDIC_NRF_SPIM))

config HAS_HW_NRF_SPIM130
	def_bool $(dt_nodelabel_enabled_with_compat,spi130,$(DT_COMPAT_NORDIC_NRF_SPIM))

config HAS_HW_NRF_SPIM131
	def_bool $(dt_nodelabel_enabled_with_compat,spi131,$(DT_COMPAT_NORDIC_NRF_SPIM))

config HAS_HW_NRF_SPIM132
	def_bool $(dt_nodelabel_enabled_with_compat,spi132,$(DT_COMPAT_NORDIC_NRF_SPIM))

config HAS_HW_NRF_SPIM133
	def_bool $(dt_nodelabel_enabled_with_compat,spi133,$(DT_COMPAT_NORDIC_NRF_SPIM))

config HAS_HW_NRF_SPIM134
	def_bool $(dt_nodelabel_enabled_with_compat,spi134,$(DT_COMPAT_NORDIC_NRF_SPIM))

config HAS_HW_NRF_SPIM135
	def_bool $(dt_nodelabel_enabled_with_compat,spi135,$(DT_COMPAT_NORDIC_NRF_SPIM))

config HAS_HW_NRF_SPIM136
	def_bool $(dt_nodelabel_enabled_with_compat,spi136,$(DT_COMPAT_NORDIC_NRF_SPIM))

config HAS_HW_NRF_SPIM137
	def_bool $(dt_nodelabel_enabled_with_compat,spi137,$(DT_COMPAT_NORDIC_NRF_SPIM))

config HAS_HW_NRF_SPIS0
	def_bool $(dt_nodelabel_enabled_with_compat,spi0,$(DT_COMPAT_NORDIC_NRF_SPIS))

config HAS_HW_NRF_SPIS1
	def_bool $(dt_nodelabel_enabled_with_compat,spi1,$(DT_COMPAT_NORDIC_NRF_SPIS))

config HAS_HW_NRF_SPIS2
	def_bool $(dt_nodelabel_enabled_with_compat,spi2,$(DT_COMPAT_NORDIC_NRF_SPIS))

config HAS_HW_NRF_SPIS3
	def_bool $(dt_nodelabel_enabled_with_compat,spi3,$(DT_COMPAT_NORDIC_NRF_SPIS))

config HAS_HW_NRF_SPIS00
	def_bool $(dt_nodelabel_enabled_with_compat,spi00,$(DT_COMPAT_NORDIC_NRF_SPIS))

config HAS_HW_NRF_SPIS20
	def_bool $(dt_nodelabel_enabled_with_compat,spi20,$(DT_COMPAT_NORDIC_NRF_SPIS))

config HAS_HW_NRF_SPIS21
	def_bool $(dt_nodelabel_enabled_with_compat,spi21,$(DT_COMPAT_NORDIC_NRF_SPIS))

config HAS_HW_NRF_SPIS22
	def_bool $(dt_nodelabel_enabled_with_compat,spi22,$(DT_COMPAT_NORDIC_NRF_SPIS))

config HAS_HW_NRF_SPIS30
	def_bool $(dt_nodelabel_enabled_with_compat,spi30,$(DT_COMPAT_NORDIC_NRF_SPIS))

config HAS_HW_NRF_SPIS120
	def_bool $(dt_nodelabel_enabled_with_compat,spi120,$(DT_COMPAT_NORDIC_NRF_SPIS))

config HAS_HW_NRF_SPIS130
	def_bool $(dt_nodelabel_enabled_with_compat,spi130,$(DT_COMPAT_NORDIC_NRF_SPIS))

config HAS_HW_NRF_SPIS131
	def_bool $(dt_nodelabel_enabled_with_compat,spi131,$(DT_COMPAT_NORDIC_NRF_SPIS))

config HAS_HW_NRF_SPIS132
	def_bool $(dt_nodelabel_enabled_with_compat,spi132,$(DT_COMPAT_NORDIC_NRF_SPIS))

config HAS_HW_NRF_SPIS133
	def_bool $(dt_nodelabel_enabled_with_compat,spi133,$(DT_COMPAT_NORDIC_NRF_SPIS))

config HAS_HW_NRF_SPIS134
	def_bool $(dt_nodelabel_enabled_with_compat,spi134,$(DT_COMPAT_NORDIC_NRF_SPIS))

config HAS_HW_NRF_SPIS135
	def_bool $(dt_nodelabel_enabled_with_compat,spi135,$(DT_COMPAT_NORDIC_NRF_SPIS))

config HAS_HW_NRF_SPIS136
	def_bool $(dt_nodelabel_enabled_with_compat,spi136,$(DT_COMPAT_NORDIC_NRF_SPIS))

config HAS_HW_NRF_SPIS137
	def_bool $(dt_nodelabel_enabled_with_compat,spi137,$(DT_COMPAT_NORDIC_NRF_SPIS))

config HAS_HW_NRF_SPU
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_SPU))

config HAS_HW_NRF_SWI0
	def_bool $(dt_nodelabel_enabled_with_compat,swi0,$(DT_COMPAT_NORDIC_NRF_SWI))

config HAS_HW_NRF_SWI1
	def_bool $(dt_nodelabel_enabled_with_compat,swi1,$(DT_COMPAT_NORDIC_NRF_SWI))

config HAS_HW_NRF_SWI2
	def_bool $(dt_nodelabel_enabled_with_compat,swi2,$(DT_COMPAT_NORDIC_NRF_SWI))

config HAS_HW_NRF_SWI3
	def_bool $(dt_nodelabel_enabled_with_compat,swi3,$(DT_COMPAT_NORDIC_NRF_SWI))

config HAS_HW_NRF_SWI4
	def_bool $(dt_nodelabel_enabled_with_compat,swi4,$(DT_COMPAT_NORDIC_NRF_SWI))

config HAS_HW_NRF_SWI5
	def_bool $(dt_nodelabel_enabled_with_compat,swi5,$(DT_COMPAT_NORDIC_NRF_SWI))

config HAS_HW_NRF_TEMP
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_TEMP))

config HAS_HW_NRF_TIMER0
	def_bool $(dt_nodelabel_enabled_with_compat,timer0,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER1
	def_bool $(dt_nodelabel_enabled_with_compat,timer1,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER2
	def_bool $(dt_nodelabel_enabled_with_compat,timer2,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER3
	def_bool $(dt_nodelabel_enabled_with_compat,timer3,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER4
	def_bool $(dt_nodelabel_enabled_with_compat,timer4,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER00
	def_bool $(dt_nodelabel_enabled_with_compat,timer00,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER10
	def_bool $(dt_nodelabel_enabled_with_compat,timer10,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER20
	def_bool $(dt_nodelabel_enabled_with_compat,timer20,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER21
	def_bool $(dt_nodelabel_enabled_with_compat,timer21,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER22
	def_bool $(dt_nodelabel_enabled_with_compat,timer22,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER23
	def_bool $(dt_nodelabel_enabled_with_compat,timer23,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER24
	def_bool $(dt_nodelabel_enabled_with_compat,timer24,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER020
	def_bool $(dt_nodelabel_enabled_with_compat,timer020,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER021
	def_bool $(dt_nodelabel_enabled_with_compat,timer021,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER022
	def_bool $(dt_nodelabel_enabled_with_compat,timer022,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER120
	def_bool $(dt_nodelabel_enabled_with_compat,timer120,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER121
	def_bool $(dt_nodelabel_enabled_with_compat,timer121,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER130
	def_bool $(dt_nodelabel_enabled_with_compat,timer130,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER131
	def_bool $(dt_nodelabel_enabled_with_compat,timer131,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER132
	def_bool $(dt_nodelabel_enabled_with_compat,timer132,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER133
	def_bool $(dt_nodelabel_enabled_with_compat,timer133,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER134
	def_bool $(dt_nodelabel_enabled_with_compat,timer134,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER135
	def_bool $(dt_nodelabel_enabled_with_compat,timer135,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER136
	def_bool $(dt_nodelabel_enabled_with_compat,timer136,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TIMER137
	def_bool $(dt_nodelabel_enabled_with_compat,timer137,$(DT_COMPAT_NORDIC_NRF_TIMER))

config HAS_HW_NRF_TWI0
	def_bool $(dt_nodelabel_enabled_with_compat,i2c0,$(DT_COMPAT_NORDIC_NRF_TWI))

config HAS_HW_NRF_TWI1
	def_bool $(dt_nodelabel_enabled_with_compat,i2c1,$(DT_COMPAT_NORDIC_NRF_TWI))

config HAS_HW_NRF_TWIM0
	def_bool $(dt_nodelabel_enabled_with_compat,i2c0,$(DT_COMPAT_NORDIC_NRF_TWIM))

config HAS_HW_NRF_TWIM1
	def_bool $(dt_nodelabel_enabled_with_compat,i2c1,$(DT_COMPAT_NORDIC_NRF_TWIM))

config HAS_HW_NRF_TWIM2
	def_bool $(dt_nodelabel_enabled_with_compat,i2c2,$(DT_COMPAT_NORDIC_NRF_TWIM))

config HAS_HW_NRF_TWIM3
	def_bool $(dt_nodelabel_enabled_with_compat,i2c3,$(DT_COMPAT_NORDIC_NRF_TWIM))

config HAS_HW_NRF_TWIM20
	def_bool $(dt_nodelabel_enabled_with_compat,i2c20,$(DT_COMPAT_NORDIC_NRF_TWIM))

config HAS_HW_NRF_TWIM21
	def_bool $(dt_nodelabel_enabled_with_compat,i2c21,$(DT_COMPAT_NORDIC_NRF_TWIM))

config HAS_HW_NRF_TWIM22
	def_bool $(dt_nodelabel_enabled_with_compat,i2c22,$(DT_COMPAT_NORDIC_NRF_TWIM))

config HAS_HW_NRF_TWIM30
	def_bool $(dt_nodelabel_enabled_with_compat,i2c30,$(DT_COMPAT_NORDIC_NRF_TWIM))

config HAS_HW_NRF_TWIM120
	def_bool $(dt_nodelabel_enabled_with_compat,i2c120,$(DT_COMPAT_NORDIC_NRF_TWIM))

config HAS_HW_NRF_TWIM130
	def_bool $(dt_nodelabel_enabled_with_compat,i2c130,$(DT_COMPAT_NORDIC_NRF_TWIM))

config HAS_HW_NRF_TWIM131
	def_bool $(dt_nodelabel_enabled_with_compat,i2c131,$(DT_COMPAT_NORDIC_NRF_TWIM))

config HAS_HW_NRF_TWIM132
	def_bool $(dt_nodelabel_enabled_with_compat,i2c132,$(DT_COMPAT_NORDIC_NRF_TWIM))

config HAS_HW_NRF_TWIM133
	def_bool $(dt_nodelabel_enabled_with_compat,i2c133,$(DT_COMPAT_NORDIC_NRF_TWIM))

config HAS_HW_NRF_TWIM134
	def_bool $(dt_nodelabel_enabled_with_compat,i2c134,$(DT_COMPAT_NORDIC_NRF_TWIM))

config HAS_HW_NRF_TWIM135
	def_bool $(dt_nodelabel_enabled_with_compat,i2c135,$(DT_COMPAT_NORDIC_NRF_TWIM))

config HAS_HW_NRF_TWIM136
	def_bool $(dt_nodelabel_enabled_with_compat,i2c136,$(DT_COMPAT_NORDIC_NRF_TWIM))

config HAS_HW_NRF_TWIM137
	def_bool $(dt_nodelabel_enabled_with_compat,i2c137,$(DT_COMPAT_NORDIC_NRF_TWIM))

config HAS_HW_NRF_TWIS0
	def_bool $(dt_nodelabel_enabled_with_compat,i2c0,$(DT_COMPAT_NORDIC_NRF_TWIS))

config HAS_HW_NRF_TWIS1
	def_bool $(dt_nodelabel_enabled_with_compat,i2c1,$(DT_COMPAT_NORDIC_NRF_TWIS))

config HAS_HW_NRF_TWIS2
	def_bool $(dt_nodelabel_enabled_with_compat,i2c2,$(DT_COMPAT_NORDIC_NRF_TWIS))

config HAS_HW_NRF_TWIS3
	def_bool $(dt_nodelabel_enabled_with_compat,i2c3,$(DT_COMPAT_NORDIC_NRF_TWIS))

config HAS_HW_NRF_TWIS20
	def_bool $(dt_nodelabel_enabled_with_compat,i2c20,$(DT_COMPAT_NORDIC_NRF_TWIS))

config HAS_HW_NRF_TWIS21
	def_bool $(dt_nodelabel_enabled_with_compat,i2c21,$(DT_COMPAT_NORDIC_NRF_TWIS))

config HAS_HW_NRF_TWIS22
	def_bool $(dt_nodelabel_enabled_with_compat,i2c22,$(DT_COMPAT_NORDIC_NRF_TWIS))

config HAS_HW_NRF_TWIS30
	def_bool $(dt_nodelabel_enabled_with_compat,i2c30,$(DT_COMPAT_NORDIC_NRF_TWIS))

config HAS_HW_NRF_TWIS130
	def_bool $(dt_nodelabel_enabled_with_compat,i2c130,$(DT_COMPAT_NORDIC_NRF_TWIS))

config HAS_HW_NRF_TWIS131
	def_bool $(dt_nodelabel_enabled_with_compat,i2c131,$(DT_COMPAT_NORDIC_NRF_TWIS))

config HAS_HW_NRF_TWIS132
	def_bool $(dt_nodelabel_enabled_with_compat,i2c132,$(DT_COMPAT_NORDIC_NRF_TWIS))

config HAS_HW_NRF_TWIS133
	def_bool $(dt_nodelabel_enabled_with_compat,i2c133,$(DT_COMPAT_NORDIC_NRF_TWIS))

config HAS_HW_NRF_TWIS134
	def_bool $(dt_nodelabel_enabled_with_compat,i2c134,$(DT_COMPAT_NORDIC_NRF_TWIS))

config HAS_HW_NRF_TWIS135
	def_bool $(dt_nodelabel_enabled_with_compat,i2c135,$(DT_COMPAT_NORDIC_NRF_TWIS))

config HAS_HW_NRF_TWIS136
	def_bool $(dt_nodelabel_enabled_with_compat,i2c136,$(DT_COMPAT_NORDIC_NRF_TWIS))

config HAS_HW_NRF_TWIS137
	def_bool $(dt_nodelabel_enabled_with_compat,i2c137,$(DT_COMPAT_NORDIC_NRF_TWIS))

config HAS_HW_NRF_UART0
	def_bool $(dt_nodelabel_enabled_with_compat,uart0,$(DT_COMPAT_NORDIC_NRF_UART))

config HAS_HW_NRF_UARTE0
	def_bool $(dt_nodelabel_enabled_with_compat,uart0,$(DT_COMPAT_NORDIC_NRF_UARTE))

config HAS_HW_NRF_UARTE1
	def_bool $(dt_nodelabel_enabled_with_compat,uart1,$(DT_COMPAT_NORDIC_NRF_UARTE))

config HAS_HW_NRF_UARTE2
	def_bool $(dt_nodelabel_enabled_with_compat,uart2,$(DT_COMPAT_NORDIC_NRF_UARTE))

config HAS_HW_NRF_UARTE3
	def_bool $(dt_nodelabel_enabled_with_compat,uart3,$(DT_COMPAT_NORDIC_NRF_UARTE))

config HAS_HW_NRF_UARTE00
	def_bool $(dt_nodelabel_enabled_with_compat,uart00,$(DT_COMPAT_NORDIC_NRF_UARTE))

config HAS_HW_NRF_UARTE20
	def_bool $(dt_nodelabel_enabled_with_compat,uart20,$(DT_COMPAT_NORDIC_NRF_UARTE))

config HAS_HW_NRF_UARTE21
	def_bool $(dt_nodelabel_enabled_with_compat,uart21,$(DT_COMPAT_NORDIC_NRF_UARTE))

config HAS_HW_NRF_UARTE22
	def_bool $(dt_nodelabel_enabled_with_compat,uart22,$(DT_COMPAT_NORDIC_NRF_UARTE))

config HAS_HW_NRF_UARTE30
	def_bool $(dt_nodelabel_enabled_with_compat,uart30,$(DT_COMPAT_NORDIC_NRF_UARTE))

config HAS_HW_NRF_UARTE120
	def_bool $(dt_nodelabel_enabled_with_compat,uart120,$(DT_COMPAT_NORDIC_NRF_UARTE))

config HAS_HW_NRF_UARTE130
	def_bool $(dt_nodelabel_enabled_with_compat,uart130,$(DT_COMPAT_NORDIC_NRF_UARTE))

config HAS_HW_NRF_UARTE131
	def_bool $(dt_nodelabel_enabled_with_compat,uart131,$(DT_COMPAT_NORDIC_NRF_UARTE))

config HAS_HW_NRF_UARTE132
	def_bool $(dt_nodelabel_enabled_with_compat,uart132,$(DT_COMPAT_NORDIC_NRF_UARTE))

config HAS_HW_NRF_UARTE133
	def_bool $(dt_nodelabel_enabled_with_compat,uart133,$(DT_COMPAT_NORDIC_NRF_UARTE))

config HAS_HW_NRF_UARTE134
	def_bool $(dt_nodelabel_enabled_with_compat,uart134,$(DT_COMPAT_NORDIC_NRF_UARTE))

config HAS_HW_NRF_UARTE135
	def_bool $(dt_nodelabel_enabled_with_compat,uart135,$(DT_COMPAT_NORDIC_NRF_UARTE))

config HAS_HW_NRF_UARTE136
	def_bool $(dt_nodelabel_enabled_with_compat,uart136,$(DT_COMPAT_NORDIC_NRF_UARTE))

config HAS_HW_NRF_UARTE137
	def_bool $(dt_nodelabel_enabled_with_compat,uart137,$(DT_COMPAT_NORDIC_NRF_UARTE))

config HAS_HW_NRF_USBD
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_USBD))

config HAS_HW_NRF_USBREG
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_USBREG))

config HAS_HW_NRF_VMC
	def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF_VMC))

config HAS_HW_NRF_WDT0
	def_bool $(dt_nodelabel_enabled_with_compat,wdt0,$(DT_COMPAT_NORDIC_NRF_WDT))

config HAS_HW_NRF_WDT1
	def_bool $(dt_nodelabel_enabled_with_compat,wdt1,$(DT_COMPAT_NORDIC_NRF_WDT))

config HAS_HW_NRF_WDT30
	def_bool $(dt_nodelabel_enabled_with_compat,wdt30,$(DT_COMPAT_NORDIC_NRF_WDT))

config HAS_HW_NRF_WDT31
	def_bool $(dt_nodelabel_enabled_with_compat,wdt31,$(DT_COMPAT_NORDIC_NRF_WDT))

config HAS_HW_NRF_WDT010
	def_bool $(dt_nodelabel_enabled_with_compat,wdt010,$(DT_COMPAT_NORDIC_NRF_WDT))

config HAS_HW_NRF_WDT011
	def_bool $(dt_nodelabel_enabled_with_compat,wdt011,$(DT_COMPAT_NORDIC_NRF_WDT))

config HAS_HW_NRF_WDT130
	def_bool $(dt_nodelabel_enabled_with_compat,wdt130,$(DT_COMPAT_NORDIC_NRF_WDT))

config HAS_HW_NRF_WDT131
	def_bool $(dt_nodelabel_enabled_with_compat,wdt131,$(DT_COMPAT_NORDIC_NRF_WDT))

config HAS_HW_NRF_WDT132
	def_bool $(dt_nodelabel_enabled_with_compat,wdt132,$(DT_COMPAT_NORDIC_NRF_WDT))
