#include <xtensa/config/core-isa.h>

/*
 * Not a C source code file.
 *
 * Intended to be preprocessed only, to produce output for
 * interpretation by the xtensa-int-handlers.py script.  Literally all
 * this does is emit records for which interrupts are at which level,
 * available per-hardware by an SDK-provided core-isa.h file.
 */

__xtensa_int_level_magic__ 0 XCHAL_INT0_LEVEL
__xtensa_int_level_magic__ 1 XCHAL_INT1_LEVEL
__xtensa_int_level_magic__ 2 XCHAL_INT2_LEVEL
__xtensa_int_level_magic__ 3 XCHAL_INT3_LEVEL
__xtensa_int_level_magic__ 4 XCHAL_INT4_LEVEL
__xtensa_int_level_magic__ 5 XCHAL_INT5_LEVEL
__xtensa_int_level_magic__ 6 XCHAL_INT6_LEVEL
__xtensa_int_level_magic__ 7 XCHAL_INT7_LEVEL
__xtensa_int_level_magic__ 8 XCHAL_INT8_LEVEL
__xtensa_int_level_magic__ 9 XCHAL_INT9_LEVEL
__xtensa_int_level_magic__ 10 XCHAL_INT10_LEVEL
__xtensa_int_level_magic__ 11 XCHAL_INT11_LEVEL
__xtensa_int_level_magic__ 12 XCHAL_INT12_LEVEL
__xtensa_int_level_magic__ 13 XCHAL_INT13_LEVEL
__xtensa_int_level_magic__ 14 XCHAL_INT14_LEVEL
__xtensa_int_level_magic__ 15 XCHAL_INT15_LEVEL
__xtensa_int_level_magic__ 16 XCHAL_INT16_LEVEL
__xtensa_int_level_magic__ 17 XCHAL_INT17_LEVEL
__xtensa_int_level_magic__ 18 XCHAL_INT18_LEVEL
__xtensa_int_level_magic__ 19 XCHAL_INT19_LEVEL
__xtensa_int_level_magic__ 20 XCHAL_INT20_LEVEL
__xtensa_int_level_magic__ 21 XCHAL_INT21_LEVEL
__xtensa_int_level_magic__ 22 XCHAL_INT22_LEVEL
__xtensa_int_level_magic__ 23 XCHAL_INT23_LEVEL
__xtensa_int_level_magic__ 24 XCHAL_INT24_LEVEL
__xtensa_int_level_magic__ 25 XCHAL_INT25_LEVEL
__xtensa_int_level_magic__ 26 XCHAL_INT26_LEVEL
__xtensa_int_level_magic__ 27 XCHAL_INT27_LEVEL
__xtensa_int_level_magic__ 28 XCHAL_INT28_LEVEL
__xtensa_int_level_magic__ 29 XCHAL_INT29_LEVEL
__xtensa_int_level_magic__ 30 XCHAL_INT30_LEVEL
__xtensa_int_level_magic__ 31 XCHAL_INT31_LEVEL
__xtensa_int_level_magic__ 32 XCHAL_INT32_LEVEL
__xtensa_int_level_magic__ 33 XCHAL_INT33_LEVEL
__xtensa_int_level_magic__ 34 XCHAL_INT34_LEVEL
__xtensa_int_level_magic__ 35 XCHAL_INT35_LEVEL
__xtensa_int_level_magic__ 36 XCHAL_INT36_LEVEL
__xtensa_int_level_magic__ 37 XCHAL_INT37_LEVEL
__xtensa_int_level_magic__ 38 XCHAL_INT38_LEVEL
__xtensa_int_level_magic__ 39 XCHAL_INT39_LEVEL
__xtensa_int_level_magic__ 40 XCHAL_INT40_LEVEL
__xtensa_int_level_magic__ 41 XCHAL_INT41_LEVEL
__xtensa_int_level_magic__ 42 XCHAL_INT42_LEVEL
__xtensa_int_level_magic__ 43 XCHAL_INT43_LEVEL
__xtensa_int_level_magic__ 44 XCHAL_INT44_LEVEL
__xtensa_int_level_magic__ 45 XCHAL_INT45_LEVEL
__xtensa_int_level_magic__ 46 XCHAL_INT46_LEVEL
__xtensa_int_level_magic__ 47 XCHAL_INT47_LEVEL
__xtensa_int_level_magic__ 48 XCHAL_INT48_LEVEL
__xtensa_int_level_magic__ 49 XCHAL_INT49_LEVEL
__xtensa_int_level_magic__ 50 XCHAL_INT50_LEVEL
__xtensa_int_level_magic__ 51 XCHAL_INT51_LEVEL
__xtensa_int_level_magic__ 52 XCHAL_INT52_LEVEL
__xtensa_int_level_magic__ 53 XCHAL_INT53_LEVEL
__xtensa_int_level_magic__ 54 XCHAL_INT54_LEVEL
__xtensa_int_level_magic__ 55 XCHAL_INT55_LEVEL
__xtensa_int_level_magic__ 56 XCHAL_INT56_LEVEL
__xtensa_int_level_magic__ 57 XCHAL_INT57_LEVEL
__xtensa_int_level_magic__ 58 XCHAL_INT58_LEVEL
__xtensa_int_level_magic__ 59 XCHAL_INT59_LEVEL
__xtensa_int_level_magic__ 60 XCHAL_INT60_LEVEL
__xtensa_int_level_magic__ 61 XCHAL_INT61_LEVEL
__xtensa_int_level_magic__ 62 XCHAL_INT62_LEVEL
__xtensa_int_level_magic__ 63 XCHAL_INT63_LEVEL
__xtensa_int_level_magic__ 64 XCHAL_INT64_LEVEL
__xtensa_int_level_magic__ 65 XCHAL_INT65_LEVEL
__xtensa_int_level_magic__ 66 XCHAL_INT66_LEVEL
__xtensa_int_level_magic__ 67 XCHAL_INT67_LEVEL
__xtensa_int_level_magic__ 68 XCHAL_INT68_LEVEL
__xtensa_int_level_magic__ 69 XCHAL_INT69_LEVEL
__xtensa_int_level_magic__ 70 XCHAL_INT70_LEVEL
__xtensa_int_level_magic__ 71 XCHAL_INT71_LEVEL
__xtensa_int_level_magic__ 72 XCHAL_INT72_LEVEL
__xtensa_int_level_magic__ 73 XCHAL_INT73_LEVEL
__xtensa_int_level_magic__ 74 XCHAL_INT74_LEVEL
__xtensa_int_level_magic__ 75 XCHAL_INT75_LEVEL
__xtensa_int_level_magic__ 76 XCHAL_INT76_LEVEL
__xtensa_int_level_magic__ 77 XCHAL_INT77_LEVEL
__xtensa_int_level_magic__ 78 XCHAL_INT78_LEVEL
__xtensa_int_level_magic__ 79 XCHAL_INT79_LEVEL
__xtensa_int_level_magic__ 80 XCHAL_INT80_LEVEL
__xtensa_int_level_magic__ 81 XCHAL_INT81_LEVEL
__xtensa_int_level_magic__ 82 XCHAL_INT82_LEVEL
__xtensa_int_level_magic__ 83 XCHAL_INT83_LEVEL
__xtensa_int_level_magic__ 84 XCHAL_INT84_LEVEL
__xtensa_int_level_magic__ 85 XCHAL_INT85_LEVEL
__xtensa_int_level_magic__ 86 XCHAL_INT86_LEVEL
__xtensa_int_level_magic__ 87 XCHAL_INT87_LEVEL
__xtensa_int_level_magic__ 88 XCHAL_INT88_LEVEL
__xtensa_int_level_magic__ 89 XCHAL_INT89_LEVEL
__xtensa_int_level_magic__ 90 XCHAL_INT90_LEVEL
__xtensa_int_level_magic__ 91 XCHAL_INT91_LEVEL
__xtensa_int_level_magic__ 92 XCHAL_INT92_LEVEL
__xtensa_int_level_magic__ 93 XCHAL_INT93_LEVEL
__xtensa_int_level_magic__ 94 XCHAL_INT94_LEVEL
__xtensa_int_level_magic__ 95 XCHAL_INT95_LEVEL
__xtensa_int_level_magic__ 96 XCHAL_INT96_LEVEL
__xtensa_int_level_magic__ 97 XCHAL_INT97_LEVEL
__xtensa_int_level_magic__ 98 XCHAL_INT98_LEVEL
__xtensa_int_level_magic__ 99 XCHAL_INT99_LEVEL
__xtensa_int_level_magic__ 100 XCHAL_INT100_LEVEL
__xtensa_int_level_magic__ 101 XCHAL_INT101_LEVEL
__xtensa_int_level_magic__ 102 XCHAL_INT102_LEVEL
__xtensa_int_level_magic__ 103 XCHAL_INT103_LEVEL
__xtensa_int_level_magic__ 104 XCHAL_INT104_LEVEL
__xtensa_int_level_magic__ 105 XCHAL_INT105_LEVEL
__xtensa_int_level_magic__ 106 XCHAL_INT106_LEVEL
__xtensa_int_level_magic__ 107 XCHAL_INT107_LEVEL
__xtensa_int_level_magic__ 108 XCHAL_INT108_LEVEL
__xtensa_int_level_magic__ 109 XCHAL_INT109_LEVEL
__xtensa_int_level_magic__ 110 XCHAL_INT110_LEVEL
__xtensa_int_level_magic__ 111 XCHAL_INT111_LEVEL
__xtensa_int_level_magic__ 112 XCHAL_INT112_LEVEL
__xtensa_int_level_magic__ 113 XCHAL_INT113_LEVEL
__xtensa_int_level_magic__ 114 XCHAL_INT114_LEVEL
__xtensa_int_level_magic__ 115 XCHAL_INT115_LEVEL
__xtensa_int_level_magic__ 116 XCHAL_INT116_LEVEL
__xtensa_int_level_magic__ 117 XCHAL_INT117_LEVEL
__xtensa_int_level_magic__ 118 XCHAL_INT118_LEVEL
__xtensa_int_level_magic__ 119 XCHAL_INT119_LEVEL
__xtensa_int_level_magic__ 120 XCHAL_INT120_LEVEL
__xtensa_int_level_magic__ 121 XCHAL_INT121_LEVEL
__xtensa_int_level_magic__ 122 XCHAL_INT122_LEVEL
__xtensa_int_level_magic__ 123 XCHAL_INT123_LEVEL
__xtensa_int_level_magic__ 124 XCHAL_INT124_LEVEL
__xtensa_int_level_magic__ 125 XCHAL_INT125_LEVEL
__xtensa_int_level_magic__ 126 XCHAL_INT126_LEVEL
__xtensa_int_level_magic__ 127 XCHAL_INT127_LEVEL
