# Copyright (c) 2024 Ambiq Micro Inc. <www.ambiq.com>
# SPDX-License-Identifier: Apache-2.0

menu "MSPI flash device driver"

config FLASH_MSPI
	bool
	select FLASH_HAS_DRIVER_ENABLED
	select MSPI
	help
	  MSPI flash drivers are enabled.

config FLASH_MSPI_EMUL_DEVICE
	bool "MSPI flash device emulator"
	default y
	depends on DT_HAS_ZEPHYR_MSPI_EMUL_FLASH_ENABLED
	select FLASH_MSPI
	select FLASH_HAS_PAGE_LAYOUT
	select FLASH_HAS_EXPLICIT_ERASE

config FLASH_MSPI_ATXP032
	bool "MSPI ATXP032 driver"
	default y
	depends on DT_HAS_MSPI_ATXP032_ENABLED
	select FLASH_MSPI
	select FLASH_HAS_PAGE_LAYOUT
	select FLASH_HAS_EXPLICIT_ERASE
	select FLASH_JESD216
	select MSPI_AMBIQ_AP3 if SOC_SERIES_APOLLO3X
	select MSPI_AMBIQ_AP4 if SOC_SERIES_APOLLO4X

config FLASH_MSPI_IS25XX0XX
	bool "MSPI IS25L/WX064/032 driver"
	default y
	depends on DT_HAS_MSPI_IS25XX0XX_ENABLED
	select FLASH_MSPI
	select FLASH_HAS_PAGE_LAYOUT
	select FLASH_HAS_EXPLICIT_ERASE
	select FLASH_JESD216
	select MSPI_AMBIQ_AP5 if SOC_SERIES_APOLLO5X

endmenu

if FLASH_MSPI

config FLASH_MSPI_HANDLE_CACHE
	bool "Enable cache handling in flash peripheral drivers"
	default y
	depends on CACHE_MANAGEMENT
	help
	  Disable this if cache has been handled in upper layers.

config FLASH_MSPI_RANGE_HANDLE_CACHE_SIZE
	int "threshold to do cache handling by range or in full, size in bytes"
	default 65536
	help
	  If size is larger than this number, it is uneconomical to handle cache in range.
	  However, this is a number by experience and could be platform specific.

config FLASH_MSPI_XIP_READ
	bool "Enable XIP read in flash_read"
	default n
	depends on MSPI_XIP
	help
	  Enable this for those controllers that supports XIP and wishes to
	  flash_read using XIP.

endif # FLASH_MSPI
