# Copyright 2025 NXP
# SPDX-License-Identifier: Apache-2.0

config SENT_NXP_S32
	bool "NXP S32 SENT driver"
	default y
	depends on DT_HAS_NXP_S32_SENT_ENABLED
	select PINCTRL if $(dt_compat_any_has_prop,$(DT_COMPAT_NXP_S32_SENT),pinctrl-0)
	help
	  Enable support for NXP S32 SENT driver.
