# Copyright (c) 2025 Croxel Inc.
# Copyright (c) 2025 CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

config PAA3905
	bool "Optical Flow Sensor PAA3905"
	default y
	depends on DT_HAS_PIXART_PAA3905_ENABLED
	select SPI
	select SPI_RTIO
	select SENSOR_ASYNC_API
	help
	  Enable driver for PAA3905 Optical Flow sensor.

if PAA3905

config PAA3905_STREAM
	bool "Streaming mode"
	depends on $(dt_compat_any_has_prop,$(DT_COMPAT_PIXART_PAA3905),int-gpios)
	select RTIO_WORKQ
	help
	  Enable streaming mode for the PAA3905 sensor.

endif # PAA3905
