# BL653 DVK board configuration

# Copyright (c) 2020 Laird Connectivity
# SPDX-License-Identifier: Apache-2.0

if BOARD_BL653_DVK

config BOARD
	default "bl653_dvk"

config BT_CTLR
	default BT

if DAC

config I2C
	default y

endif # DAC

endif # BOARD_BL653_DVK
