# Copyright (c) 2022 Cypress Semiconductor Corporation (an Infineon company) or
# an affiliate of Cypress Semiconductor Corporation
# SPDX-License-Identifier: Apache-2.0

# Infineon PSoC6_01 series MCUs

config SOC_CY8C6036BZI_F04
	bool "CY8C6036BZI_F04"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA
	depends on SOC_SERIES_PSOC_60

config SOC_CY8C6016BZI_F04
	bool "CY8C6016BZI_F04"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA
	depends on SOC_SERIES_PSOC_60

config SOC_CY8C6116BZI_F54
	bool "CY8C6116BZI_F54"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA
	depends on SOC_SERIES_PSOC_61

config SOC_CY8C6136BZI_F14
	bool "CY8C6136BZI_F14"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA
	depends on SOC_SERIES_PSOC_61

config SOC_CY8C6136BZI_F34
	bool "CY8C6136BZI_F34"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA
	depends on SOC_SERIES_PSOC_61

config SOC_CY8C6137BZI_F14
	bool "CY8C6137BZI_F14"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA
	depends on SOC_SERIES_PSOC_61

config SOC_CY8C6137BZI_F34
	bool "CY8C6137BZI_F34"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA
	depends on SOC_SERIES_PSOC_61

config SOC_CY8C6137BZI_F54
	bool "CY8C6137BZI_F54"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA
	depends on SOC_SERIES_PSOC_61

config SOC_CY8C6117BZI_F34
	bool "CY8C6117BZI_F34"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA
	depends on SOC_SERIES_PSOC_61

config SOC_CY8C6246BZI_D04
	bool "CY8C6246BZI_D04"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA
	depends on SOC_SERIES_PSOC_62

config SOC_CY8C6247BZI_D44
	bool "CY8C6247BZI_D44"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA
	depends on SOC_SERIES_PSOC_62

config SOC_CY8C6247BZI_D34
	bool "CY8C6247BZI_D34"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA
	depends on SOC_SERIES_PSOC_62

config SOC_CY8C6247BZI_D54
	bool "CY8C6247BZI_D54"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA
	depends on SOC_SERIES_PSOC_62

config SOC_CY8C6336BZI_BLF03
	bool "CY8C6336BZI_BLF03"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_116_BGA_BLE
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6316BZI_BLF03
	bool "CY8C6316BZI_BLF03"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_116_BGA_BLE
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6316BZI_BLF53
	bool "CY8C6316BZI_BLF53"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_116_BGA_BLE
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6336BZI_BLD13
	bool "CY8C6336BZI_BLD13"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_116_BGA_BLE
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6347BZI_BLD43
	bool "CY8C6347BZI_BLD43"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_116_BGA_BLE
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6347BZI_BLD33
	bool "CY8C6347BZI_BLD33"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_116_BGA_BLE
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6347BZI_BLD53
	bool "CY8C6347BZI_BLD53"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_116_BGA_BLE
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6347FMI_BLD13
	bool "CY8C6347FMI_BLD13"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_104_M_CSP_BLE
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6347FMI_BLD43
	bool "CY8C6347FMI_BLD43"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_104_M_CSP_BLE
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6347FMI_BLD33
	bool "CY8C6347FMI_BLD33"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_104_M_CSP_BLE
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6347FMI_BLD53
	bool "CY8C6347FMI_BLD53"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_104_M_CSP_BLE
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6137FDI_F02
	bool "CY8C6137FDI_F02"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_80_WLCSP
	depends on SOC_SERIES_PSOC_61

config SOC_CY8C6117FDI_F02
	bool "CY8C6117FDI_F02"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_80_WLCSP
	depends on SOC_SERIES_PSOC_61

config SOC_CY8C6247FDI_D02
	bool "CY8C6247FDI_D02"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_80_WLCSP
	depends on SOC_SERIES_PSOC_62

config SOC_CY8C6247FDI_D32
	bool "CY8C6247FDI_D32"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_80_WLCSP
	depends on SOC_SERIES_PSOC_62

config SOC_CY8C6336BZI_BUD13
	bool "CY8C6336BZI_BUD13"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_116_BGA_USB
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6347BZI_BUD43
	bool "CY8C6347BZI_BUD43"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_116_BGA_USB
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6347BZI_BUD33
	bool "CY8C6347BZI_BUD33"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_116_BGA_USB
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6347BZI_BUD53
	bool "CY8C6347BZI_BUD53"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_116_BGA_USB
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6337BZI_BLF13
	bool "CY8C6337BZI_BLF13"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_116_BGA_BLE
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6136FDI_F42
	bool "CY8C6136FDI_F42"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_80_WLCSP
	depends on SOC_SERIES_PSOC_61

config SOC_CY8C6247FDI_D52
	bool "CY8C6247FDI_D52"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_80_WLCSP
	depends on SOC_SERIES_PSOC_62

config SOC_CY8C6136FTI_F42
	bool "CY8C6136FTI_F42"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_80_WLCSP
	depends on SOC_SERIES_PSOC_61

config SOC_CY8C6247FTI_D52
	bool "CY8C6247FTI_D52"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_80_WLCSP
	depends on SOC_SERIES_PSOC_62

config SOC_CY8C6247BZI_AUD54
	bool "CY8C6247BZI_AUD54"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA
	depends on SOC_SERIES_PSOC_62

config SOC_CY8C6336BZI_BLF04
	bool "CY8C6336BZI_BLF04"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA_SIP
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6316BZI_BLF04
	bool "CY8C6316BZI_BLF04"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA_SIP
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6316BZI_BLF54
	bool "CY8C6316BZI_BLF54"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA_SIP
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6336BZI_BLD14
	bool "CY8C6336BZI_BLD14"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA_SIP
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6347BZI_BLD44
	bool "CY8C6347BZI_BLD44"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA_SIP
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6347BZI_BLD34
	bool "CY8C6347BZI_BLD34"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA_SIP
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6347BZI_BLD54
	bool "CY8C6347BZI_BLD54"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA_SIP
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6247BFI_D54
	bool "CY8C6247BFI_D54"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA
	depends on SOC_SERIES_PSOC_62

config SOC_CYBLE_416045_02
	bool "CYBLE_416045_02"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_116_BGA_BLE
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6347FMI_BUD53
	bool "CY8C6347FMI_BUD53"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_104_M_CSP_BLE_USB
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6347FMI_BUD13
	bool "CY8C6347FMI_BUD13"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_104_M_CSP_BLE_USB
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6347FMI_BUD43
	bool "CY8C6347FMI_BUD43"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_104_M_CSP_BLE_USB
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6347FMI_BUD33
	bool "CY8C6347FMI_BUD33"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_104_M_CSP_BLE_USB
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6137WI_F54
	bool "CY8C6137WI_F54"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA
	depends on SOC_SERIES_PSOC_61

config SOC_CY8C6117WI_F34
	bool "CY8C6117WI_F34"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA
	depends on SOC_SERIES_PSOC_61

config SOC_CY8C6247WI_D54
	bool "CY8C6247WI_D54"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA
	depends on SOC_SERIES_PSOC_62

config SOC_CY8C6336LQI_BLF02
	bool "CY8C6336LQI_BLF02"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_68_QFN_BLE
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6336LQI_BLF42
	bool "CY8C6336LQI_BLF42"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_68_QFN_BLE
	depends on SOC_SERIES_PSOC_63

config SOC_CY8C6347LQI_BLD52
	bool "CY8C6347LQI_BLD52"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_68_QFN_BLE
	depends on SOC_SERIES_PSOC_63

config SOC_CYB06447BZI_BLD54
	bool "CYB06447BZI_BLD54"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA_SIP
	depends on SOC_SERIES_PSOC_64

config SOC_CYB06447BZI_BLD53
	bool "CYB06447BZI_BLD53"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_116_BGA_BLE
	depends on SOC_SERIES_PSOC_64

config SOC_CYB06447BZI_D54
	bool "CYB06447BZI_D54"
	select SOC_DIE_PSOC6_01
	select SOC_PACKAGE_PSOC6_01_124_BGA
	depends on SOC_SERIES_PSOC_64
