{% import 'i2c_ll_stm32.meta.jinja2' as i2c_stm32 %}

#ifndef _I2C_LL_STM32_DEVICE_H_
#define _I2C_LL_STM32_DEVICE_H_

{% set params = {'irq_flag'     :'CONFIG_I2C_STM32_INTERRUPT',
                 'irq_func'     :'stm32_i2c_isr',
                 'config_struct': 'i2c_stm32_config',
                 'data_struct'  :'i2c_stm32_data',
                 'api_struct'   :'api_funcs',
                 'init_function':'i2c_stm32_init'} %}

{{ i2c_stm32.device(data, ['st,stm32-i2c-v1', 'st,stm32-i2c-v2'], params) }}

#endif
