# Copyright (c) 2019 Brett Witherspoon
# SPDX-License-Identifier: Apache-2.0

config I2C_CC13XX_CC26XX
	bool "TI SimpleLink CC13xx / CC26xx I2C driver"
	default y
	depends on DT_HAS_TI_CC13XX_CC26XX_I2C_ENABLED
	select PINCTRL
	help
	  Enable support for I2C on the TI SimpleLink CC13xx / CC26xx series.
