# Kconfig.soc - ST Microelectronics STM32F4 MCU line
#
# Copyright (c) 2016 Linaro Limited.
#
# SPDX-License-Identifier: Apache-2.0
#

choice
prompt "STM32F4x MCU Selection"
depends on SOC_SERIES_STM32F4X

config SOC_STM32F401XE
	bool "STM32F401XE"

config SOC_STM32F407XG
	bool "STM32F407XG"

config SOC_STM32F411XE
	bool "STM32F411XE"

config SOC_STM32F412ZG
	bool "STM32F412ZG"

config SOC_STM32F413XH
	bool "STM32F413XH"

config SOC_STM32F429XI
	bool "STM32F429XI"

config SOC_STM32F469XI
	bool "STM32F469XI"

endchoice

config STM32_ARM_MPU_ENABLE
	bool "Enable MPU"
	depends on CPU_HAS_MPU
	select ARM_MPU
	default n
	help
	  Enable MPU

choice
prompt "Configure Bootloader Options"
depends on MPU_ENABLE

config BL_BOOTLOADER
	bool "Build the Bootloader"

config BL_APPLICATION
	bool "Build an Application"

endchoice
