# Reneas R-Car UART configuration options

# Copyright (c) 2021 IoT.bzh
# SPDX-License-Identifier: Apache-2.0

config UART_RCAR
	bool "Renesas R-Car UART Driver"
	select SERIAL_HAS_DRIVER
	depends on SOC_FAMILY_RCAR
	help
	  Enable Renesas R-Car UART Driver.
