# Copyright 2025 NXP
# SPDX-License-Identifier: Apache-2.0

config ARM_SCMI_NXP_VENDOR_EXTENSIONS
	bool "Allow NXP specific SCMI features"
	select CRC
	help
	  When enabled, additional SCMI features specific to NXP will be available
