/*
 * Copyright (c) 2022 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include "b_u585i_iot02a-common.dtsi"

/ {
	model = "STMicroelectronics B-U585I-IOT02A discovery kit";
	compatible = "st,b-u585i-iot02a";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_ns_partition;
	};

	aliases {
		led0 = &green_led_1;
		led1 = &red_led_1;
		sw0 = &user_button;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/*
		 * Following flash partition is compatible with requirements
		 * given in TF-M configuration given for current board.
		 *
		 * It might require adjustment depending on evolutions on TF-M.
		 */
		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(384)>;
			read-only;
		};

		/* Secure image primary slot */
		slot0_partition: partition@60000 {
			label = "image-0";
			reg = <0x00060000 DT_SIZE_K(512)>;
		};

		/* Non-secure image primary slot */
		slot0_ns_partition: partition@e0000 {
			label = "image-0-nonsecure";
			reg = <0x000e0000 DT_SIZE_K(1024)>;
		};

		/* Internal Non Volatile Storage */
		storage_partition: partition@1e0000 {
			label = "storage";
			reg = <0x001e0000 DT_SIZE_K(128)>;
		};
	};
};

&mx25lm51245 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/*
		 * The flash partition (0 and 1) are aligned
		 * with the TF-M flash layout expectation.
		 */
		slot1_partition: partition@0 {
			label = "image-1";
			reg = <0x00000000 DT_SIZE_K(512)>;
		};

		slot1_ns_partition: partition@80000 {
			label = "image-1-nonsecure";
			reg = <0x00080000 DT_SIZE_K(1024)>;
		};

		external_partition: partition@180000 {
			label = "external";
			reg = <0x00180000 (DT_SIZE_M(64) - DT_SIZE_K(1024) - DT_SIZE_K(512))>;
		};
	};
};
