.. _boardname_linkname:

[Board Name]
#############

Overview
********
[A short description about the board, its main features and availability]

Hardware
********
[General Hardware information]

Supported Features
==================
[List of supported features and level of support in Zephyr]

Connections and IOs
===================

[Tables describing the board PINs and how they are configured and can be used
to connect external components]

Programming and Debugging
*************************

Flashing
========
[How to use this board with Zephyr and how to flash a Zephyr binary on this
device]


Debugging
=========
[ How to debug this board]


References
**********
[ Links to external references such as datasheets or additional documentation]

