.. zephyr:board:: board_name

.. In order for the board documentation page to show properly in the
   documentation, it is highly recommended to provide a picture.

   The picture must be named after the board (ex. "board_name.webp") and
   preferably be in webp format (alternatively, png or jpg are also accepted).

Overview
********
[A short description about the board, its main features and availability]

Hardware
********
[General Hardware information]

Supported Features
==================
[List of supported features and level of support in Zephyr]

Connections and IOs
===================

[Tables describing the board PINs and how they are configured and can be used
to connect external components]

Programming and Debugging
*************************

Flashing
========
[How to use this board with Zephyr and how to flash a Zephyr binary on this
device]


Debugging
=========
[ How to debug this board]


References
**********
[ Links to external references such as datasheets or additional documentation]

