.. zephyr:board:: board_name

.. To ensure the board documentation page displays correctly, it is highly
   recommended to include a picture alongside the documentation page.

   The picture should be named after the board (e.g., "board_name.webp")
   and preferably be in webp format. Alternatively, png or jpg formats
   are also accepted.

Overview
********
[A short description about the board, its main features and availability]

Hardware
********
[General Hardware information]

Supported Features
==================

.. zephyr:board-supported-hw::

Connections and IOs
===================

[Tables describing the board PINs and how they are configured and can be used
to connect external components]

Programming and Debugging
*************************

.. zephyr:board-supported-runners::

Flashing
========
[How to use this board with Zephyr and how to flash a Zephyr binary on this
device]


Debugging
=========
[ How to debug this board]


References
**********
[ Links to external references such as datasheets or additional documentation]

