.. _descriptive_title_link_name:

[A Descriptive Title]
#####################

Overview
********
[A short description about the sample and what it does]

Requirements
************
[List of required software and hardware components. Provide pointers to
hardware components such as sensors and shields]

Wiring
******
[For simple projects, a description of how to wire the board for the demo. For
complex projects, provide a graphic with more details, preferably using
Fritzing or some other visualisation tools]

Building and Running
********************
[ How to build the sample and how to run it. Pointers to where to find the
sample in the source tree and how to configure it and run it for a specific
target platform]

[When showing code-blocks with sample build command instructions, use the
..zephyr-app-commands directive (see the doc guidelines) instead of a
hand-written code-block.]

References
**********
[ Links to external references such as datasheets or additional documentation]


