/*
 * Copyright (c) 2024 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/wb0/stm32wb09Xe.dtsi>
#include <st/wb0/stm32wb09kevx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

#include "arduino_r3_connector.dtsi"

/ {
	model = "STMicroelectronics STM32WB09KE-NUCLEO board";
	compatible = "st,stm32wb09ke-nucleo";

	#address-cells = <1>;
	#size-cells = <1>;

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds: leds {
		compatible ="gpio-leds";
		blue_led_1: led_0 {
			gpios = <&gpiob 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
		green_led_1: led_1 {
			gpios = <&gpiob 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
		red_led_1: led_2 {
			gpios = <&gpiob 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		user_button_1: button_0 {
			label = "SW1";
			gpios = <&gpioa 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			zephyr,code = <INPUT_KEY_0>;
		};
		user_button_2: button_1 {
			label = "SW2";
			gpios = <&gpiob 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			zephyr,code = <INPUT_KEY_1>;
		};
		user_button_3: button_2 {
			label = "SW3";
			gpios = <&gpiob 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			zephyr,code = <INPUT_KEY_2>;
		};
	};

	aliases {
		led0 = &blue_led_1;
		led1 = &green_led_1;
		led2 = &red_led_1;
		sw0 = &user_button_1;
		sw1 = &user_button_2;
		sw2 = &user_button_3;
	};
};

&pwrc {
	smps-mode = "RUN";
	smps-bom = <3>;
};

&clk_lse {
	status = "okay";
};

&clk_hse {
	status = "okay";
};

&clk_hsi {
	status = "okay";
};

&pll {
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(64)>;
	clksys-prescaler = <1>;
	slow-clock = <&clk_lse>;
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa1 &usart1_rx_pb0>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	pinctrl-names = "default";
	status = "okay";
};

&spi3 {
	pinctrl-0 = <&spi3_nss_pa9 &spi3_sck_pb3 &spi3_miso_pa8 &spi3_mosi_pa11>;
	pinctrl-names = "default";
	status = "okay";
	/* Select 64MHz clock for SPI3 */
	clocks = <&rcc STM32_CLOCK_BUS_APB1 (1 << 14)>,
		<&rcc STM32_SRC_SYSCLK SPI3_I2S3_SEL(3)>;
};
