# ST STM32F412XX MCU configuration options

# Copyright (c) 2021 STMicroelectronics.
# SPDX-License-Identifier: Apache-2.0

if SOC_STM32F412CX

config SOC
	default "stm32f412cx"

config NUM_IRQS
	default 97

endif # SOC_STM32F412CX

if SOC_STM32F412VX

config SOC
	default "stm32f412vx"

config NUM_IRQS
	default 97

endif # SOC_STM32F412VX

if SOC_STM32F412ZX

config SOC
	default "stm32f412zx"

config NUM_IRQS
	default 97

endif # SOC_STM32F412ZX
