# Nucleo L496ZG development board

# Copyright (c) 2018-2019 Centaur Analytics, Inc
# SPDX-License-Identifier: Apache-2.0

config BOARD_NUCLEO_L496ZG
	def_bool "$(BOARD)" = "nucleo_l496zg"
	depends on SOC_STM32L496XX
