# Copyright (c) 2024 Renesas Electronics Corporation
# SPDX-License-Identifier: Apache-2.0

config PWM_RENESAS_RA8
	bool "Renesas RA8 PWM driver"
	default y
	depends on DT_HAS_RENESAS_RA8_PWM_ENABLED
	select USE_RA_FSP_GPT
	help
	  Enable Renesas RA8 PWM Driver.
