# Copyright 2020, 2025 NXP
# SPDX-License-Identifier: Apache-2.0

# MCUX TPM PWM

config PWM_MCUX_TPM
	bool "MCUX TPM PWM driver"
	default y
	depends on DT_HAS_NXP_KINETIS_TPM_ENABLED
	depends on CLOCK_CONTROL
	select PINCTRL
	help
	  Enable the MCUX TPM PWM driver.

config PWM_CAPTURE_MCUX_TPM_FILTER_VALUE
	int "MCUX TPM PWM capture filter value"
	depends on PWM_MCUX_TPM && PWM_CAPTURE
	range 0 15
	default 0
	help
	  PWM capture filter value for channels.
	  The filter is disabled when the value is zero, otherwise
	  the filter is configured as (CHxFVAL * 4) clock cycles.
