# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2024 Intel

config MMC56X3
	bool "Memsic MMC56X3 magnetometer driver"
	default y
	depends on DT_HAS_MEMSIC_MMC56X3_ENABLED
	select I2C if $(dt_compat_on_bus,$(DT_COMPAT_MEMSIC_MMC56X3),i2c)
	help
	 Enable driver for MMC56X3 magnetometer and temperature sensor.
