# STMicroelectronics STM32C031xx MCU

# Copyright (c) 2023 Benjamin Björnsson <benjamin.bjornsson@gmail.com>
# SPDX-License-Identifier: Apache-2.0

if SOC_STM32C031XX

config SOC
	default "stm32c031xx"

config NUM_IRQS
	default 29

endif # SOC_STM32C031XX
