# Copyright (c) 2024 Celina Sophie Kalus <hello@celinakalus.de>
# SPDX-License-Identifier: Apache-2.0

config MBOX_STM32_HSEM
	bool "MBOX STM32 HSEM driver"
	default y
	depends on DT_HAS_ST_MBOX_STM32_HSEM_ENABLED
	help
	  MBOX Driver for STM32 hardware semaphore
