# Copyright (c) 2020 SER Consulting LLC
# SPDX-License-Identifier: Apache-2.0

config LM73C
	bool "LM73C Temperature Sensor"
	depends on I2C
	help
	  Enable I2C-based driver for LM73C Temperature Sensor.
