# Copyright (c) 2024 Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

# Microchip MECH172x MCU series configuration options

if SOC_SERIES_MECH172X

config NUM_IRQS
	# must be >= the highest interrupt number used
	# - include the UART interrupts
	# All NVIC external sources.
	default 181

config CORTEX_M_SYSTICK
	depends on !RTOS_TIMER

endif # SOC_SERIES_MECH172X
