# Microchip XEC Keyboard Scan Matrix configuration options

# Copyright (c) 2019 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

config INPUT_XEC_KBD
	bool "Microchip XEC series keyboard matrix driver"
	default y
	depends on DT_HAS_MICROCHIP_XEC_KBD_ENABLED
	select INPUT_KBD_MATRIX
	select MULTITHREADING
	select PINCTRL
	help
	  Enable the Microchip XEC Kscan IO driver.
