# IMX M4 Core SDK

# Copyright (c) 2018, NXP
# SPDX-License-Identifier: Apache-2.0

config HAS_IMX_HAL
	bool
	select HAS_CMSIS_CORE
	depends on SOC_FAMILY_NXP_IMX

if HAS_IMX_HAL

config HAS_IMX_GPIO
	bool
	help
	  Set if the GPIO module is present in the SoC.

config HAS_IMX_I2C
	bool
	help
	  Set if the I2C module is present in the SoC.

config HAS_IMX_EPIT
	bool
	help
	  Set if the EPIT module is present in the SoC.

config HAS_IMX_IOMUXC
	bool
	help
	  Set if the IOMUXC module is present in the SoC.

endif # HAS_IMX_HAL
