/*
 * Copyright (c) 2024 TOKITA Hiroshi
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <renesas/ra/ra2/r7fa2a1ab3cfm.dtsi>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

#include "ek_ra2a1-pinctrl.dtsi"

/ {
	model = "Renesas EK-RA2A1";
	compatible = "renesas,ra2a1", "renesas,ra2";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,entropy = &trng;
	};

	leds {
		compatible = "gpio-leds";
		led1: led1 {
			gpios = <&ioport2 5 GPIO_ACTIVE_HIGH>;
			label = "LED1";
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: s1 {
			gpios = <&ioport2 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button switch 1";
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	aliases {
		led0 = &led1;
		sw0 = &button0;
	};
};

&xtal {
	clock-frequency = <DT_FREQ_M(12)>;
	mosel = <0>;
	#clock-cells = <0>;
	status = "okay";
};

&subclk {
	status = "okay";
};

&ioport2 {
	status = "okay";
};

&sci0 {
	pinctrl-0 = <&sci0_default>;
	pinctrl-names = "default";
	status = "okay";
	uart0: uart {
		current-speed = <115200>;
		status = "okay";
	};
};

&spi1 {
	pinctrl-0 = <&spi1_default>;
	pinctrl-names = "default";
	cs-gpios = <&ioport1 2 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&ioport1 {
	status = "okay";
};

&port_irq6 {
	interrupts = <29 3>;
	status = "okay";
};

&pwm0 {
	pinctrl-0 = <&pwm0_default>;
	pinctrl-names = "default";
	interrupts = <28 1>, <31 1>;
	interrupt-names = "gtioca", "overflow";
	status = "okay";
};

&trng {
	status = "okay";
};

&iic0 {
	pinctrl-0 = <&iic0_default>;
	pinctrl-names = "default";
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <DT_FREQ_M(1)>;
	interrupts = <0 1>, <1 1>, <2 1>, <3 1>;
	interrupt-names = "rxi", "txi", "tei", "eri";
	status = "okay";
};
