# Copyright (c) 2020 Intel Corp.
# SPDX-License-Identifier: Apache-2.0

name: Publish commit for daily testing

on:
  schedule:
  - cron: '50 22 * * *'
  push:
    branches:
    - refs/tags/*

permissions:
  contents: read

jobs:
  get_version:
    runs-on: ubuntu-24.04
    if: github.repository == 'zephyrproject-rtos/zephyr'

    steps:
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
      with:
        aws-access-key-id: ${{ vars.AWS_TESTING_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_TESTING_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: 3.12
        cache: pip
        cache-dependency-path: scripts/requirements-actions.txt

    - name: Install Python packages
      run: |
        pip install -r scripts/requirements-actions.txt --require-hashes

    - name: Upload to AWS S3
      run: |
        python3 scripts/ci/version_mgr.py --update .
        aws s3 cp versions.json s3://testing.zephyrproject.org/daily_tests/versions.json
