# Copyright (c) 2020 Linaro Limited.
# SPDX-License-Identifier: Apache-2.0

name: Documentation Build

on:
  workflow_dispatch:
    inputs:
      base:
        description: 'Base branch name'
        required: false
  push:
    branches:
    - main
    tags:
    - v*
  pull_request:

permissions:
  contents: read

env:
  DOXYGEN_VERSION: 1.14.0
  DOXYGEN_MD5SUM: e761a5097ae20ecccfd02041925f102a
  JOB_COUNT: 8

jobs:
  doc-file-check:
    name: Check for doc changes
    runs-on: [self-hosted, Linux, zephyr-ci]
    outputs:
      file_check: ${{ steps.check-doc-files.outputs.any_modified }}
    if: github.event_name == 'pull_request'
    steps:
    - name: Set event variables
      id: set-vars
      run: |
        echo "BASE_REF=${{ github.event.pull_request.head.sha }}" >> $GITHUB_ENV

    - name: Checkout
      run: |
        CACHE_DIR="/data/ambiqzephyrcache/zephyrproject/zephyr"
        if [ -d "$GITHUB_WORKSPACE/zephyr/.git" ]; then
          echo "Re‑using existing checkout, fetching ${GIT_REF}…"
        elif [ -d "${CACHE_DIR}" ]; then
          rm -rf "$GITHUB_WORKSPACE"/.??* "$GITHUB_WORKSPACE"/*
          echo "Cloning from local cache (${CACHE_DIR}) at ${GIT_REF}…"
          git clone --reference "${CACHE_DIR}" \
                    --depth 50 \
                    https://github.com/${{ github.repository }}.git "zephyr"
        else
          rm -rf "$GITHUB_WORKSPACE"/.??* "$GITHUB_WORKSPACE"/*
          echo "Cache not found; doing fresh shallow clone at ${GIT_REF}…"
          git clone --depth 50 \
                    https://github.com/${{ github.repository }}.git "zephyr"
        fi
        cd "zephyr"
        git fetch origin "${BASE_REF}"
        git reset --hard "${BASE_REF}"
        git clean -fdx

    - name: Check if Documentation related files changed
      uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
      id: check-doc-files
      with:
        files: |
          doc/
          boards/**/doc/
          **.rst
          include/
          kernel/include/kernel_arch_interface.h
          lib/libc/**
          subsys/testsuite/ztest/include/**
          **/Kconfig*
          west.yml
          scripts/dts/
          doc/requirements.txt
          .github/workflows/doc-build.yml
          scripts/pylib/pytest-twister-harness/src/twister_harness/device/device_adapter.py
          scripts/pylib/pytest-twister-harness/src/twister_harness/helpers/shell.py

  doc-build-html:
    name: "Documentation Build (HTML)"
    needs: [doc-file-check]
    if: >
      needs.doc-file-check.outputs.file_check == 'true' || github.event_name != 'pull_request'
    runs-on: [self-hosted, Linux, zephyr-ci]
    timeout-minutes: 90
    concurrency:
      group: doc-build-html-${{ github.ref }}
      cancel-in-progress: true
    steps:
    - name: Set event variables
      id: set-vars
      run: |
        if [ "${{ github.event_name }}" = "pull_request" ]; then
          echo "GIT_REF=${{ github.event.pull_request.head.sha }}" >> $GITHUB_ENV
          echo "BASE_REF=${{ github.event.pull_request.base.ref }}" >> $GITHUB_ENV
        else
          echo "GIT_REF=${{ github.sha }}" >> $GITHUB_ENV
          if [ "${{ github.event_name }}" = "workflow_dispatch" ] || [ "${{ github.event_name }}" = "schedule" ]; then
            echo "BASE_REF=${{ github.event.inputs.base || github.event.repository.default_branch }}" >> $GITHUB_ENV
          else
            echo "BASE_REF=${{ github.event.before }}" >> $GITHUB_ENV
          fi
        fi

    - name: Checkout
      run: |
        CACHE_DIR="/data/ambiqzephyrcache/zephyrproject/zephyr"
        if [ -d "$GITHUB_WORKSPACE/zephyr/.git" ]; then
          echo "Re‑using existing checkout, fetching ${GIT_REF}…"
        elif [ -d "${CACHE_DIR}" ]; then
          rm -rf "$GITHUB_WORKSPACE"/.??* "$GITHUB_WORKSPACE"/*
          echo "Cloning from local cache (${CACHE_DIR}) at ${GIT_REF}…"
          git clone --reference "${CACHE_DIR}" \
                    --depth 50 \
                    https://github.com/${{ github.repository }}.git "zephyr"
        else
          rm -rf "$GITHUB_WORKSPACE"/.??* "$GITHUB_WORKSPACE"/*
          echo "Cache not found; doing fresh shallow clone at ${GIT_REF}…"
          git clone --depth 50 \
                    https://github.com/${{ github.repository }}.git "zephyr"
        fi
        cd "zephyr"
        git fetch origin "${BASE_REF}"
        git fetch origin "${GIT_REF}"
        git reset --hard "${GIT_REF}"
        git clean -fdx

    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: 3.12

    - name: Install Python packages
      working-directory: zephyr
      run: |
        pip install -r doc/requirements.txt --require-hashes

    - name: Environment Setup
      working-directory: zephyr
      run: |
        if [ "${{github.event_name}}" = "pull_request" ]; then
          git config --global user.email "bot@zephyrproject.org"
          git config --global user.name "Zephyr Builder"
          rm -fr ".git/rebase-apply"
          rm -fr ".git/rebase-merge"
          git rebase origin/${BASE_REF}
          git clean -f -d
          git log  --pretty=oneline | head -n 10
        fi
        echo "$HOME/.local/bin" >> $GITHUB_PATH
        echo "$HOME/.cargo/bin" >> $GITHUB_PATH

        CACHE_DEP="/data/ambiqzephyrcache/zephyrproject/"

        if [ ! -d ../.west ]; then
          west init -l .
        fi
        west config manifest.group-filter -- +ci,+optional
        west config --global update.narrow true
        west update --path-cache "${CACHE_DEP}" 2>&1 1> west.update.log || west update --path-cache "${CACHE_DEP}" 2>&1 1> west.update.log || ( rm -rf ../modules ../bootloader ../tools && west update --path-cache "${CACHE_DEP}")
        west forall -c 'git reset --hard HEAD'

    - name: Build HTML documentation
      shell: bash
      working-directory: zephyr
      run: |
        if [[ "$GITHUB_REF" =~ "refs/tags/v" ]]; then
          DOC_TAG="release"
        else
          DOC_TAG="development"
        fi

        if [[ "${{ github.event_name }}" == "pull_request" ]]; then
          DOC_TARGET="html-fast"
        else
          DOC_TARGET="html"
        fi

        DOC_TAG=${DOC_TAG} \
        SPHINXOPTS="-j ${JOB_COUNT} -W --keep-going -T" \
        SPHINXOPTS_EXTRA="-q -t publish" \
        make -C doc ${DOC_TARGET} -j 12

        # API documentation coverage
        python3 -m coverxygen --xml-dir  doc/_build/html/doxygen/xml/ --src-dir include/ --output doc-coverage.info
        # deprecated page causing issues
        lcov --remove doc-coverage.info \*/deprecated > new.info
        genhtml --no-function-coverage --no-branch-coverage new.info -o coverage-report

    - name: Compress documentation build artifacts
      working-directory: zephyr
      run: |
        tar --use-compress-program="xz -T0" -cf html-output.tar.xz --exclude html/_sources --exclude html/doxygen/xml --directory=doc/_build html
        tar --use-compress-program="xz -T0" -cf api-output.tar.xz --directory=doc/_build html/doxygen/html
        tar --use-compress-program="xz -T0" -cf api-coverage.tar.xz coverage-report

    - name: Upload HTML output
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: html-output
        path: zephyr/html-output.tar.xz

    - name: Upload Doxygen coverage artifacts
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: api-coverage
        path: zephyr/api-coverage.tar.xz


    - name: Summarize PR documentation URLs
      if: github.event_name == 'pull_request'
      run: |
        REPO_NAME="${{ github.event.repository.name }}"
        PR_NUM="${{ github.event.pull_request.number }}"
        DOC_URL="https://builds.zephyrproject.io/${REPO_NAME}/pr/${PR_NUM}/docs/"
        API_DOC_URL="https://builds.zephyrproject.io/${REPO_NAME}/pr/${PR_NUM}/docs/doxygen/html/"
        API_COVERAGE_URL="https://builds.zephyrproject.io/${REPO_NAME}/pr/${PR_NUM}/api-coverage/"

        echo "${PR_NUM}" > pr_num
        echo "Documentation will be available shortly at: ${DOC_URL}" >> $GITHUB_STEP_SUMMARY
        echo "API Documentation will be available shortly at: ${API_DOC_URL}" >> $GITHUB_STEP_SUMMARY
        echo "API Coverage Report will be available shortly at: ${API_COVERAGE_URL}" >> $GITHUB_STEP_SUMMARY

    - name: Upload PR number
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      if: github.event_name == 'pull_request'
      with:
        name: pr_num
        path: pr_num

  doc-build-pdf:
    name: "Documentation Build (PDF)"
    needs: [doc-file-check]
    if: |
      github.event_name != 'pull_request'
    runs-on: [self-hosted, Linux, zephyr-ci]
    timeout-minutes: 120
    concurrency:
      group: doc-build-pdf-${{ github.ref }}
      cancel-in-progress: true

    steps:
    - name: Set event variables
      id: set-vars
      run: |
        echo "BASE_REF=${{ github.event.inputs.base || github.event.repository.default_branch }}" >> $GITHUB_ENV

    - name: Checkout
      run: |
        CACHE_DIR="/data/ambiqzephyrcache/zephyrproject/zephyr"
        if [ -d "$GITHUB_WORKSPACE/zephyr/.git" ]; then
          echo "Re‑using existing checkout, fetching ${GIT_REF}…"
        elif [ -d "${CACHE_DIR}" ]; then
          rm -rf "$GITHUB_WORKSPACE"/.??* "$GITHUB_WORKSPACE"/*
          echo "Cloning from local cache (${CACHE_DIR}) at ${GIT_REF}…"
          git clone --reference "${CACHE_DIR}" \
                    --depth 50 \
                    https://github.com/${{ github.repository }}.git "zephyr"
        else
          rm -rf "$GITHUB_WORKSPACE"/.??* "$GITHUB_WORKSPACE"/*
          echo "Cache not found; doing fresh shallow clone at ${GIT_REF}…"
          git clone --depth 50 \
                    https://github.com/${{ github.repository }}.git "zephyr"
        fi
        cd "zephyr"
        git fetch origin "${BASE_REF}"
        git reset --hard "${BASE_REF}"
        git clean -fdx

    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: 3.12

    - name: Install Python packages
      working-directory: zephyr
      run: |
        pip install -r doc/requirements.txt --require-hashes

    - name: install-pkgs
      run: |
        sudo apt-get update
        sudo apt-get install --no-install-recommends graphviz librsvg2-bin \
          texlive-latex-base texlive-latex-extra latexmk \
          texlive-fonts-recommended texlive-fonts-extra texlive-xetex \
          imagemagick fonts-noto xindy
        wget --no-verbose "https://github.com/doxygen/doxygen/releases/download/Release_${DOXYGEN_VERSION//./_}/doxygen-${DOXYGEN_VERSION}.linux.bin.tar.gz"
        echo "${DOXYGEN_MD5SUM}  doxygen-${DOXYGEN_VERSION}.linux.bin.tar.gz" | md5sum -c
        if [ $? -ne 0 ]; then
          echo "Failed to verify doxygen tarball"
          exit 1
        fi
        sudo tar xf doxygen-${DOXYGEN_VERSION}.linux.bin.tar.gz -C /opt
        echo "/opt/doxygen-${DOXYGEN_VERSION}/bin" >> $GITHUB_PATH

    - name: build-docs
      shell: bash
      working-directory: zephyr
      continue-on-error: true
      run: |
        if [[ "$GITHUB_REF" =~ "refs/tags/v" ]]; then
          DOC_TAG="release"
        else
          DOC_TAG="development"
        fi

        DOC_TAG=${DOC_TAG} \
        SPHINXOPTS="-q -j ${JOB_COUNT}" \
        LATEXMKOPTS="-quiet -halt-on-error" \
        make -C doc pdf -j 12

    - name: upload-build
      if: always()
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: pdf-output
        if-no-files-found: ignore
        path: |
          zephyr/doc/_build/latex/zephyr.pdf
          zephyr/doc/_build/latex/zephyr.log

  doc-build-status-check:
    if: always()
    name: "Documentation Build Status"
    needs:
    - doc-build-pdf
    - doc-file-check
    - doc-build-html
    uses: ./.github/workflows/ready-to-merge.yml
    with:
      needs_context: ${{ toJson(needs) }}
