name: Error numbers
on:
  pull_request:
    paths:
      - '.github/workflows/errno.yml'
      - 'lib/libc/minimal/include/errno.h'
      - 'scripts/ci/errno.py'
      - 'SDK_VERSION'

permissions:
  contents: read

jobs:
  check-errno:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: zephyr

      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@360ff9b36e58499d9eb28015cdcde7ca03a5b04d # v1.0.12
        with:
          app-path: zephyr
          toolchains: 'arm-zephyr-eabi'
          west-group-filter: -hal,-tools,-bootloader,-babblesim
          west-project-filter: -nrf_hw_models
          enable-ccache: false

      - name: Run errno.py
        working-directory: zephyr
        run: |
          export ZEPHYR_SDK_INSTALL_DIR=${{ github.workspace }}/zephyr-sdk
          export ZEPHYR_BASE=${PWD}
          ./scripts/ci/errno.py
