name: PR Metadata Check

on:
  pull_request:
    types:
      - synchronize
      - opened
      - reopened
      - labeled
      - unlabeled
      - edited

permissions:
  contents: read

jobs:
  do-not-merge:
    name: Prevent Merging
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.12
          cache: pip
          cache-dependency-path: scripts/requirements-actions.txt

      - name: Install Python dependencies
        run: |
          pip install -r scripts/requirements-actions.txt --require-hashes

      - name: Run the check script
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python -u scripts/ci/do_not_merge.py \
          -p "${{ github.event.pull_request.number }}" \
          -o "${{ github.event.repository.owner.login }}" \
          -r "${{ github.event.repository.name }}"
