# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config COMPARATOR_NRF_COMP
	bool "Nordic COMP comparator driver"
	default y
	depends on DT_HAS_NORDIC_NRF_COMP_ENABLED
	select NRFX_COMP
