# Actinius Icarus Bee board configuration

# Copyright (c) 2021 Actinius
# SPDX-License-Identifier: Apache-2.0

if SOC_NRF9160_SICA

config BOARD_ACTINIUS_ICARUS_BEE
	bool "Actinius Icarus Bee"

config BOARD_ACTINIUS_ICARUS_BEE_NS
	bool "Actinius Icarus Bee Non-Secure"

endif # SOC_NRF9160_SICA
